.btn{
    @include button;
    text-decoration: none;
}

.breadcrumbs{
	width:100%;
	background: $primary;
	color: $white;
	font-size: 15px;
	overflow:hidden;
	position:relative;
	@include pad(40px 90px);
	background-repeat: no-repeat;
    background-size: cover;
    background-position:center;

	@media #{$ipadpro}{
	 	@include pad(60px 0px);
	 }
	@media #{$ipad}{
	 	@include pad(60px 0px);
	 }
	 @media #{$mobile}{
	 	@include pad(60px 0px);
	 }

	&.overlay{
		&:before{
	  position: absolute;
	  content:" ";
	  top:0;
	  left:0;
	  width:100%;
	  height:100%;
	  display: block;
	  z-index:0;
	  background-color: rgba(0,46,89,0.5);
	 } 

	 ul{
	 	@include pad(0);
	 	@include mar(0);
	 	li{
	 		list-style: none;
			display:inline-block;
			text-transform: uppercase;
		 	a{
		 	  color :#b3b3ae;
		 	  @extend %headingfont;
		 	  font-size: $common-font-size - 4px;		 	  		 	  
		 	  @extend %linkeffect;	
		 	  	 @media #{$mobile} {
		 	  	 	 font-size: $common-font-size - 6px;	
		 	  	 }	  
		 	  }	 	
		 	  &:after{
		 	  	content:"\f101";
		 	  	font-family:FontAwesome;
		 	  	color :#b3b3ae;
		 	  	@include mar(0 15px);
		 	  }  
		 	  &:last-child{
		 	  	&:after{
		 	  		content:"";
		 	  	}
		 	  }
		    }
	    }
	  }
}

.paragraphpart{
	label{
		@extend %headingfont;
		color:#0063ae;
		font-weight:900;
		font-size: $common-font-size + 5px;
		@include set-mar(bottom,0);
		line-height:1;
	}
	h3{
		@extend %italicfont;
		color: #abc1df;
		text-transform: none;
		font-size:25px;
		line-height:1;
		@include set-mar(bottom,25px);
		 @media #{$mobile} {
		 	font-size:20px;
		 	@include set-mar(top,10px);
		 }
	}
	p{
		@extend %headingfont;
		font-weight:400;
		font-size:$paragraph-font-size;
		color: $black;
		text-transform: none;		
		line-height:1.5;	
		@include set-mar(top,30px) ;
	}
	a.btn{
		@include button;
		@include trans;
	}
	img{
		margin-right: 15px;  
	}
	ul.social{
		float:none;
		@include set-pad(left,0);
		@include set-mar(top,20px);
		li a {
   		 background: $btn_bg;
   		 border: 1px solid $btn_bg;
   		 width: 40px;
   		 height:40px;
   		 @include set-mar(right,10px);
   		 &:hover{
   		 	background: $white;
   		 }
   		 i{
   		 	color: $white;
   		 	font-size: 1.3rem;
    		line-height: 1.8;
   		 	&:hover{
   		 	color: $btn_bg;
   		 }
   		 }   		 
   		}
	}

	&.error_part{
		h1{
			@extend %headingfont;
			font-size: 200px;
			color: #0063AE;
			font-weight:900;
			display:block;
			@media #{$ipad}{
				font-size: 100px;
			}
			@media #{$mobile} {
				font-size: 60px;
			}
		}
		label{
			@extend %headingfont;
			font-size: 50px;
			color: #BDC7CB;
			font-weight:900;
			display:block;
			@media #{$mobile}{
				font-size: 40px;
			}
		}
		p{
			@extend %headingfont;
			color: $black;
			display:block;	
			font-size: $common-font-size - 6px;	
			@include mar(10px 0);
			@media #{$mobile}{
				@include mar(10px);
			}
		}
		.btn{
			@include set-mar(bottom,100px);
		}
		#searchform{
			.input-group{
				width: 30%;
				margin: 0 auto;
				@media #{$ipad}{
				width: 90%;
				}
				 @media #{$mobile}{
				 	width: 90%;
				 }
				input.form-control{
					@include pad(19px 10px);
				}
			}
		}
	}
}

.blue-section{
	.blue-border-box{
	  display:inline-block;
	  width:100%;
	  margin:0 auto;
	  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	  padding:1em;
	  line-height:1.5em;
	  background:#d6e1f2;
	  @include pad(15px 80px);
	   @media #{$mobile}{
	   	@include pad(15px 30px);
	   	@include set-mar(top,25px);
	   }
	}
	#one {
	  border:solid 3px #6b95cf;
	}
	.ribbonpart{
		margin-top: -25px;
		text-align:center;
			label{
				@extend %ribbon;		
			    z-index: 9;	    
			    @include pad(14px 50px);
			    @media #{$mobile}{
			    	@include pad(14px 10px);
			    }
			}
        }
    p{
    	text-align:center;
    	line-height:3;
    	@include set-mar(bottom,0);
    	font-style:italic;
    	 @media #{$mobile}{
    	 	line-height:0;
    	 }
    }
    label{
    	@extend %italicfont;
    	color:$primary;
    	font-size: $common-font-size + 5px;
    	@include set-mar(bottom,15px);
    	&:before{
    		content:"";
    		background-image:url(../img/green-arrow.png);
    		width:9px;
    		height:13px;
    		display:inline-block;
    		@include set-mar(right,25px);
    	}
    }
    h6{
    	@extend %headingfont;
		font-weight:400;
		color: $black;
		font-size: $common-font-size - 6px;
		@include set-mar(left,30px);
		line-height:1.5;
		text-transform:none;
    }
    hr{
    	display: block;
        border-style: inset;
        border-width: 1px;
        width:100%;
        border:1px solid #f4a23c;  
        @include set-mar(bottom,25px);
    }
}

.yellowpart, .yellowadvance{
	background:transparent;	
	@include set-mar(top,40px);
        &:before{
        	@extend %yellowpart;			
			background-image: url(../img/footer-top.png);
            height: 60px;  
            top:1px;    
            @media #{$ipad} {	
              	 height: 20px;  
              } 
              @media #{$mobile} {	
              	 height: 20px;  
              }  
           }
           &:after{
			@extend %yellowpart;
			background-image: url(../img/footer-bottom.png);
            height: 42px;    
            top:-6px;   
             @media #{$ipad} {	
              	 height: 20px;  
              }
            @media #{$mobile} {	
              	 height: 20px;  
              }
		}
		@media #{$mobile} {
			background:#e5942f;
			@include set-mar(top,0px);
			&:before{
			background-image: none;
			}
			&:after{
			background-image: none;
			}
		}
		.content-conainer{
			background:#e5942f;
			position:relative;
			@include pad(0px 80px);
			top:-5px;
			@media #{$desktop} { 
				@include pad(0px 15px);
			}
			@media #{$desktop-mini} { 
				@include pad(0px 15px);
			}
			@media #{$ipadpro} { 
				@include pad(0px 15px);
			}
			@media #{$ipad} { 
				@include pad(0px 15px);
			}
			@media #{$mobile} {		
			@include pad(0 15px);	
				&:before{
				background-image: none;
				}
		   }
		   .darkshade{
		   	background: #d9861f;
		   	@include pad(15px);
		   	@include set-mar(right,10px);
		   	@include set-mar(top,10px);
		   	height:100%;
		   	@include set-pad(bottom,50px);
		   	/* min-height:110px;
		   	display: flex; */
    		align-items: center;
    		@media #{$ipadpro} { 
    				@include set-mar(right,0px);
    		}
    		@media #{$ipad} { 
    				@include set-mar(right,0px);
    		}
    		@media #{$mobile} { 
    				@include set-mar(right,0px);
    				@include set-pad(bottom,0px);
    		}
		   	 h2.no-background {
		   	 	color:$white;
		   	 	display:inline-block;
		   	 	width: 80%;
		   	 	@include set-mar(bottom,0px);
		   	 	font-size:$common-font-size;
		   	 	@media #{$desktop-mini} { 
					width: 78%;
		   	 	}
		   	 	@media #{$ipad} {
		   	 		width: 100%;
		   	 	 	font-size:$common-font-size;
		   	 	}
		   	 	 @media #{$mobile}{
		   	 	 	width: 100%;
		   	 	 	font-size:$common-font-size;
		   	 	 }
		   	 	span{
		   	 		@include pad(0 40px 0 5px);
		   	 			@media #{$ipadpro}{
			   	 		 	@include pad(0 20px 0 0px);			   	 			
			   	 		 }		   	 		
			   	 		 @media #{$mobile}{
			   	 		 	@include pad(0 20px 0 0px);			   	 			
			   	 		 }
		   	 		 &:after {
						border-top: 2px solid #bfbbb7;
						top:50%;
						@media #{$ipad}{
							display:none;
						}
						@media #{$mobile}{
							display:none;
						}
		   	 		 }
		   	 	}
		   	 }
		   	 a{
		   	 	&.btn{
		   	 	   @include smallbutton;
		   	 	   @include mar(0 2%);
		   	 	   @media #{$mobile}{
		   	 	   	 @include mar(4% 2%);
		   	 	   }
		   	    }
		   	 }
		   }
		}
}

.yellowadvance{
	.darkshade{
		display:block !important;
		/* min-height: 180px !important; */
		position:relative;
		@media #{$desktop-mini}{
			/* min-height: 200px !important; */
		}
		@media #{$ipadpro}{
			/* min-height: 220px !important; */
		}
		@media #{$ipad}{
			/* min-height: 230px !important; */
		}
		@media #{$mobile}{
			min-height: 210px !important;
		}
		h2.no-background {
			font-size:$common-font-size + 5px;
			width:auto !important;
			display:block !important;
			span{
				width: auto !important;
				@media #{$desktop} {
					padding:6px !important; 
				}
				@media #{$desktop-mini} {
					padding:6px !important; 
				}
				@media #{$ipadpro} {
				 	@include set-pad(left, 0px);
				 }
				 @media #{$ipad} {
				 	@include set-pad(left, 0px);
				 	@include set-pad(right, 0px);
				 }
			}
		}
		a{
			@extend %headingfont;
			color: $white;
			font-size:14px;
			font-weight:700;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		&.btn{	
			position:absolute;
			bottom:15px;
			right:15px;
			@media #{$ipadpro} {
				right:8px;
				font-size:11px !important;
				@include set-pad(left,10px);
				@include set-pad(right,10px);
			}
			@media #{$ipad} {
				right:8px;
				font-size:11px !important;
				@include set-pad(left,10px);
				@include set-pad(right,10px);
			}
		}
		}
		
		p{
			@extend %headingfont;
			text-transform:none;
			font-size: $paragraph-font-size;
			color: $white;
			@include mar(15px 20px 10px 5px);
			@media #{$desktop} {
					font-size: 16px;
				}
				@media #{$desktop-mini} {
				@include mar(7px);				
			}
			@media #{$ipadpro} {
				@include mar(15px 0px);
				font-size: 16px;
			}
			@media #{$ipad} {
				/* @include mar(15px 0px); */
				font-size: 16px;
			}
			@media #{$mobile}{
				@include mar(15px 0px);
			}
		}
	}
	&.yfixed{
		.darkshade{
			padding: 30px 15px;
			h2.no-background {
				span{
					&:after{
						width:1350px;
					}
				}
			}
		}
	}
}

.profilediv{
	position:relative;
	@extend %headingfont;
	@include set-mar(bottom,55px);
	img{
	width:300px;
	height:300px;
	border-radius:50%;
		@media #{$ipad} {
		width:240px;
		height:240px;
		}
	}
	.ribbonpart{
		@include mar(0 auto);
		@include set-mar(top,-25px); 		
			label{
				@extend %ribbon;		
			    z-index: 9;	    
			    @include pad(14px);
			    font-size:$common-font-size - 4px;
			    min-width:280px;
			    letter-spacing:1px;
			    @media #{$desktop}{  
			    	min-width: 270px;
			    }
			    @media #{$desktop-mini}{  
			    	min-width: 250px;
			    }
			    @media #{$ipadpro}{  
			    	min-width: 225px;
			    }
			    @media #{$ipad}{    
			    	@include pad(16px 10px);
    				font-size: 14px;
   					min-width: 170px;
				}
			    @media #{$mobile}{
			    	 min-width:240px;
			    }
			}
        }
    span{
    	@extend %italicfont;
    	color:#abc1df;
    	font-size:$common-font-size + 3px;
    	display:block;
    	@media #{$ipad}{
    		font-size:$common-font-size;
    	}
    }
    a{
    	text-transform:none;
    	line-height:2;
    	display:block;	
    	text-decoration:none;
    	@include trans;
    	font-size:$common-font-size - 4px;
    	@media #{$ipad}{
    	}
    	&:hover{
    		 color: $green;
    	}
     &.btn{
     	@include button;
		display:inline-block;
		@include set-mar(top,5px);
		@media #{$ipad}{
			@include pad(5px 20px);
			font-size:$common-font-size - 6px;
		}
     }	
    }   
}

.fancybox-inner{	 
		.wpcf7 {
			.wpcf7-submit{
			padding:0 !important; 
			width: 25%;
		    display: block;
		    text-align: center;
		    margin: 0 auto;
		}
		.wpcf7-validation-errors{
			@include mar(0);
			border: none;
		    font-size: 12px;
		    background: transparent;
		}
		.wpcf7-not-valid-tip{
			 font-size: 12px;
		}			
	}
}
.team-container {
    max-width: 600px;
    padding: 30px;
    height: 100%;
    overflow: auto;
    @media #{$mobile}{
	padding: 0px;
    }
    label{
    	color:#f4a23c;
    	font-weight:800;
    	display:block;
    	@include set-mar(bottom,0);
    	 @media #{$mobile}{
    	 	@include set-mar(top,10px);
    	 	text-align:center;
    	 }
    }
    span{
    	@extend %italicfont;
    	color:#abc1df;
    	display:block; 
    	@media #{$mobile}{ 
    		text-align:center; 
    	}
    	p{
    		@extend %headingfont;
    		color:$black;
    		font-size: $paragraph-font-size;
    		text-transform:none;
    		@include set-mar(top,20px); 
    	}
    }
    a{
    	color:$green;
    	@media #{$mobile}{
    	text-align: center;
    	display:block;
    }

    }
    .my_class{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    /* flex-wrap: wrap; */
    flex-direction: column;
    }
}

.selectionpart{
	position: relative;
	background-image: url(../img/bottomsection.png);
	min-height:250px;
	@media #{$ipad}{
		min-height:200px;
	}
	.title{
		background:#cec44e;
		line-height:2;
		text-align: center;
		@extend %headingfont;
		color: #fff;
    	font-weight: 900;
    	font-size: 25px;
    	letter-spacing: 1px;
    	@media #{$mobile}{
    		font-size:$common-font-size;
    	}
	}

.bottom_menu{position: relative; background:transparent;}
.bottom_menu ul{list-style: none;text-align: center; @include set-pad(left,0); @include set-mar(bottom,0);}
.bottom_menu li{display: inline-block;
     width: 367px;
     margin: 0 auto;
     text-align: center;
     &.active{
     	color: #adc1e5;
     	position:relative;
		&:before{
		content:"";
		opacity: 1;
		display:block;
		border-left: 20px solid transparent;
	  	border-right: 20px solid transparent; 
	  	border-top: 20px solid #cec44e;
	  	pointer-events: none;
	  	width:20px;
	  	margin: 0 auto;
	  	left:-4px;
	  	right:0;
	  	position:absolute;
	  	 @media #{$desktop}{
		margin: 0 42%;
		}
	  	@media #{$desktop-mini}{
		margin: 0 43%;
		}
	  	 @media #{$ipadpro}{
		margin: 0 41%;
		}
	  	@media #{$ipad}{
		margin: 0 40%; 
		}
	  	@media #{$mobile}{
		display:none;		
		}	
	}
	a{
		color: #adc1e5;
	}
	}
	@media #{$desktop-new} {
		width: 250px; 
	}
	@media #{$desktop} {
		width: 250px; 
	}
	@media #{$desktop-mini} {
		width: 250px;
	}
	@media #{$ipadpro} {
		width: auto;
	}
	@media #{$ipad}{
		width: auto; 
	}
	@media #{$mobile}{
		width: 300px; 
		display:block;
	}
}
.bottom_menu a{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding: 15px 10px;
	text-align: center; 
	color: #5c5c5c;
	line-height: 3;
	text-align: center;
	text-decoration: none;
	transition: all .5s;
	@extend %italicfont;
	font-size: 25px;
	@media #{$ipad}{
		line-height: 1;
		font-size: $common-font-size;
	}
	@media #{$mobile}{
		display: block;
		line-height: 1;
	}
	&:hover{
		color: #adc1e5;
	}	
}
.bottom_menu .indicator{
	position: absolute;
	top: 0;
	width: 0;
	opacity: 0; 
	border:none;
	&:before{
		content:"";
		opacity: 1;
		display:block;
		border-left: 20px solid transparent;
	  	border-right: 20px solid transparent; 
	  	border-top: 20px solid #cec44e;
	  	pointer-events: none;
	  	width:20px;
	  	margin: 0 47%;

	  	@media #{$desktop-mini}{
			@include set-mar(top,-2px);
	  	}
	  	@media #{$mobile}{
		display:none;
		}	
	}
	}
}



/* ************************************** about us forms page css :start *************************** */
.accordianpart{
	@include set-pad(top,0); 
	h2{
		@extend %headingfont;
		font-weight:900;
		color:#0063af;
	}

	.accordion {
		.card{
			border:none;
			.card-body{
				@include pad(0 1.25rem);
				p.smalldetail{
					@include set-mar(top,1rem);
					font-size:$paragraph-font-size;
				}
			}
		}
		.card-header{
			@include pad(0 1.25rem 0 0);
			@include set-mar(bottom,5px);
			border:none;
			background-color:#e5942f;
			@include trans;
			cursor: pointer;
			height:65px;
				&.collapsed{
					background-color:rgba(0,0,0,.03);
					
					#logo{
						height:52px;
						width:68px;
						position:relative;
						@include mar(7%);
						@media #{$mobile}{
							height: 55px;
    						width: 65px;
						}						
						 path {
						  fill: #002e59 !important;
						  stroke: #002e59 !important;
						}
				    }
					    a.card-title{
					    	color: $black;
					    }
				    }
				.svgsection{					
					width: 100px;
					float: left;
					height: 65px;
					position:relative;
					@media #{$mobile}{
						width: 80px;
					}
					&:before{
						content:"";
						background-image: url(../img/arrow.png);
						display: block;
						position: absolute;
						width: 88px;
						height: 65px;	
						@media #{$mobile}{
							background-image:none;
							background:#e5942f;
							width: 80px;
							height: 65px;
						}						
					}					
				 }
								
				a.card-title{
					line-height: 3.5;
		    		@include mar(0 25px);
		    		color: $white;
		    		@extend %headingfont;
		    		font-weight:700;
		    		font-size:20px;
		    		@media #{$mobile}{
		    			font-size:16px;
		    			@include mar(17px 10px);
		    			width:220px;
		    			display:inline-block;
		    			line-height: 1;
		    		}
		    		@media (max-width: 360px){	
		    			width:164px;
		    			font-size:14px;				
					}
				}
				#logo{
						height:52px;
						width:68px;
						position:relative;
						@include mar(5% 10%);
						@media #{$mobile}{
							height: 55px;
    						width: 65px;
						}
						 path {
						  fill: #fff !important;
						  stroke: #fff !important;
						}
				    }
	}
  }
	.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
    line-height: 4;  
     color: #fff;
     @media #{$mobile}{
     	line-height:3.5;
     }
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067";
    color: #0063af;
 } 
}

.parallaxpart {
  min-height: 225px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
   &:before{
   	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
   }
  @media #{$desktop-mini} {
  	min-height: auto; 
  }
  @media #{$ipadpro} {
  	min-height: auto; 
  }
  @media #{$ipad} {
  	min-height: auto; 
  }
.inner-container{
	padding: 25px 0 65px 0;
	@media #{$desktop} {
	 	@include set-pad(bottom,30px);
	 }
	 @media #{$desktop-mini} {
	 	@include set-pad(bottom,30px);
	 }
	 @media #{$ipadpro} {
	 	@include set-pad(bottom,30px);
	 }
	 /* @media #{$ipad} {
	 	@include set-pad(bottom,30px);
	 } */
	 @media #{$mobile} { 
	 	@include set-pad(bottom,30px); 
	 }
}
   	.ribbonpart{
      margin-top: 55px; 
      text-align:center;
        label{
          @extend %ribbon;    
            z-index: 9;     
            @include pad(14px 50px);
            @include set-mar(top,-55px);
            @media #{$mobile}{
              @include pad(14px 10px);              
            }
        }
    }

  .greenbox{
  	background: #93b25b;
  	@include pad(20px);
  	color: $white;
  	@extend %headingfont;
  	max-width: 650px;
  	@include mar(5%);
  	position: relative;
    height: 100%;
    padding-bottom: 40px;
  		@media #{$desktop-mini} {
	  		@include mar(5%);
	  	}
  		@media #{$ipadpro} {
	  		@include mar(5%);
	  	}
	  	@media #{$ipad} {
	  		@include mar(5%);
	  	}
	  	@media #{$mobile} {
	  		@include mar(5%);
	  	}
		h2.no-background {
	   	 	@extend %borderaftertext;
	   	 	width:calc(100% - 10px);
	   	 	@media #{$mobile} {
		     	 border-bottom: 1px solid #bdbdbd;	
		     }
		   	span{
		   		@include pad(0 10px 0 0);
			   		&:after {
		            border-top: 1px solid #bdbdbd;		            
		        }
		     }

		    }	
		p{
			font-weight: 400;
			text-align:left;
			@include set-mar(top,10px);
			text-transform:none;
			font-size: $common-font-size - 6px;
			@media #{$desktop-mini} {
				@include set-mar(top,10px);
			
			}
			@media #{$ipadpro} {
				@include set-mar(top,0px);
				font-size: $common-font-size - 6px;
			}
			@media #{$ipad} {
				@include set-mar(top,0px);
				font-size: $common-font-size - 6px;
			}
			@media #{$mobile} {
				@include set-mar(top,0px);
				font-size: $common-font-size - 6px;
			}
		}
		a.btn{
			@include button;
			background:#0063ae;
			@include set-mar(top,10px);
			@include pad(8px 25px);  
			@media #{$desktop-mini} {
				@include set-mar(top,15px);
				font-size: $common-font-size - 6px;
				font-weight:600;
				@include pad(8px 20px);
			}
			@media #{$ipadpro} {
				@include set-mar(top,10px);
				font-size: $common-font-size - 10px;
				@include pad(8px);
				font-weight:600;
			}
			@media #{$ipad} {
				@include set-mar(top,0px);
				font-size: $common-font-size - 5px;				
			}
			@media #{$mobile} {
				@include set-mar(top,0px);
				
			}			
		}   	
  	}
  	&.threebox{
  		text-align:center;
			.inner-container{
				padding: 25px 0;
			}
  		.greenbox{
  			@include mar(5%);
  			height: 100%;
  			position:relative;
  			@include set-pad(bottom,50px);
  			@media #{$mobile} {
  				height:auto;
  			}

  			a.btn{
  				position:absolute;
  				left:0;
  				right:0;
  				bottom:20px;
  				max-width:185px;
  				margin:0 auto;
  				@media #{$desktop} {
					bottom:10px;
  				}
  				@media #{$desktop-mini} {
  				max-width:180px;
  				}
  				@media #{$ipad} {
  				max-width:180px;
  				}
  				@media #{$mobile} {
  				position:relative;
  				bottom:0;
  				}
  				@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  					width:185px;
				}


  				&.rightside{
					right:20px;
					margin: auto;
					left:auto;
					@media #{$mobile} {
						right:0px;
					}
				}
  			}
  			@media #{$desktop-mini} {
  				/* min-height: 225px; */
  			}
  			@media #{$ipadpro} {
  				/* min-height: 265px; */
  			}
  			@media #{$ipad} {
  				/* min-height: 240px; */
  			}
  		}
  		h2{
  			@extend %headingfont;
  			font-weight:900;
  		}
  		hr{
  			display: block;
        	border-style: inset;
        	border-width: 1px;
       	 	width:100%;
        	border:1px solid #bebebe;  
        	@include mar(5px 0);
  		}
  	}
}

/* ************************************** about us forms page css :end *************************** */

/* ************************************** about our story forms page css :start *************************** */

.areapart-img{
	@include set-pad(top,0);
	background: #0d325f;
	.leftimg{
		&:after {
		    content: "";
		    background-image: url(../img/slider-border.png);
		    height: 100%;
		    width: 20px;
		    position: absolute;
		    right: 14px;
		    z-index: 10;
		    top: 0;
		    @media #{$ipad} {
			    	background-image:none;
			    }
		    @media #{$mobile} {
		    	background-image:none;
		    }
		}
		img{
			width: 100%;
			height:600px;
			object-fit: cover;
			@media #{$mobile} {
				height:300px;
			}
		}
		&.order-2{
			&:after {
		    content: "";
		    background-image: url(../img/slider-border.png);
		    height: 100%;
		    width: 20px;
		    position: absolute;
		    left: 14px;
		    z-index: 10;
		    top: 0;
		    -webkit-transform: scaleX(-1);
    		transform: scaleX(-1);
    			@media #{$ipad} {
			    	background-image:none;
			    }
	    		@media #{$mobile} {
			    	background-image:none;
			    }
			}
		}
	}

	.slide-description{
      position:relative;
      /* max-height:600px; */
      overflow:hidden;
      display:flex;
      flex-wrap:wrap;
      align-content:center;
      min-height:600px;
      overflow:hidden;
      padding: 50px 100px;
	  color: $white;
      @media #{$desktop} {
         padding: 15px;
      }
      @media #{$desktop-mini} {
         padding: 15px;
      }
       @media #{$ipadpro} {
         padding: 15px;
         /*  max-height:650px; */
       }

       @media #{$mobile} {
         padding: 15px;
         /* height:1015px; */
       }

      h1{
         @extend %italicfont;
         font-size:$common-font-size + 5px;
         width: 100%;
         display:block;
      }
      h4{
         @extend %headingfont;
          font-size:$common-font-size - 5px;
          /* line-height: 3.5;   */
          @include set-mar(bottom,20px);
          display:block;   
          width: 100%;
      }
      label{
         @extend %headingfont;
         display: block;
         /* @include set-mar(bottom,20px);
          @include set-mar(top,20px);*/
         font-weight:900;
         font-size:$common-font-size + 5px;
      }
      hr {
        display: block;
        @include mar(0.5em 0 0.5em 0);
        border-style: inset;
        border-width: 1px;
        width:20%;
        border:1px solid #adc1e5;
        display: block;
      }
      p{
        font-size:14px;
        @include set-mar(bottom,0);
        width: 100%;
        display:block;
      }
      a{
         @include button;
         @include trans;
         @include set-mar(top,30px);
         display: table;
        /*  @media #{$desktop} {
           @include set-mar(top,0px);
        } */
         @media #{$ipadpro} {
          @include set-mar(top,0px);
         }
         @media #{$ipad} {
          @include set-mar(top,50px);
          @include set-mar(bottom,50px);
         }
         @media #{$mobile} {
             @include set-mar(bottom,50px);
         }
         &:hover{
            text-decoration:none;
         }
      }
   }
}

.overlapcontent{
	min-height:400px;
	position:relative;
	background-repeat:no-repeat;
	background-size:cover;
		@media #{$desktop} {
			background-position: center 50%;
			min-height:600px;
		}
		@media #{$desktop-mini} {
			background-position: center 50%;
			min-height:600px;
		}
		@media #{$ipadpro} {
			background-position: center 50%;
		}
		@media #{$ipad} {
			background-position: center 50%;
		}
		@media #{$mobile} {		
		    background-position: center 50%; 		    
		}
	}	
	.overlaptextarea{
		position:relative;
		@include set-mar(top,-50px);
		.overalappart{
		background: $white;
		display:block;	    
	    @include pad(10px);
	    p{
	    	font-size: $paragraph-font-size;
	    }
	    
	    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	    	width: 95%;
		}
		.paragraphpart{
			h1{
				text-transform: capitalize;
    			font-weight: 400;
    			@extend %italicfont;
    			font-size: $common-font-size + 5px;
    			color:#abc1df;
			}
			label{
				font-size: $common-font-size + 5px;
				line-height: 1.5;
			}
			hr {
			    display: block;			    
			    border-style: inset;
			    border-width: 1px;
			    width: 20%;
			    border: 1px solid #adc1e5;
			    display: block;
			    @media #{$ipad} {
			    	width: 40%;
			    }
			    @media #{$mobile} {
			    	width: 40%;
			    }
			}
			h4 {
			    font-size: 15px;			    
			    display: block;
			    width: 100%;
			}
			p{
				text-align:center;					
				@include pad(0px 60px);
				font-size:$common-font-size - 6px;
				font-weight:500;
				@media #{$ipadpro} {
					@include pad(0px 10px);
					font-size:16px;
				}
				@media #{$ipad} {
					@include pad(0px 10px);
					font-size:16px;
				}
				@media #{$mobile} {
					@include pad(0px 10px);
					font-size:12px;
				}

			}
		}
	}
}


.did-you-konw-section{
	&.blue_bg{	
	@include pad(50px 0);
	@include set-pad(bottom,0);
		@media #{$mobile} {
			@include pad(0); 
		}
	.inner-container{
		@media #{$mobile} {
			@include pad(25px);
		}
	}
	.image-thum-block{
		@extend %image-thum-block; 
		.secondary-image{
	      border: 8px solid $primary;
	     }
	}
	label{
		@extend %italicfont;
		color: #5b95c8;
		font-size: $common-font-size + 5px;
		line-height: 1.5;
	}
	p{
		color: $white !important;
		@include mar(10px 20px 20px 0);
		font-size: $paragraph-font-size;
	}
	a{
		@include button;
		@include mar(20px 0);
		display:inline-block;
		text-decoration: none;
	}
}
}

.wall-of-fame{
	 @include set-mar(top,60px);
	 color : $black;
	   label{
	      @extend %ribbon;
	   }
	   h2{
	   		 @extend %italicfont;
	   		 font-size: $common-font-size + 5px;
	   		 color: #5b95c8;
	   }
	.famediv {
		position:relative;
		@extend %headingfont;
		@include set-mar(bottom,55px);
		img{
		width:200px;
		height:200px;
		border-radius:50%;
			@media #{$desktop-mini} {
			width:180px;
			height:180px;
			}
			@media #{$ipadpro} {
			width:140px;
			height:140px;
			}
		}
	    h3{
	    	@extend %headingfont;
	    	font-size: $common-font-size + 3px;
	    	line-height: 1.5;
	    	font-weight:900;
	    	color: #f4a23c;
	    	@include set-mar(bottom,0);
	    	@media #{$desktop-mini} {
	    		font-size: $common-font-size - 2px;
	    	}
	    	@media #{$ipadpro} {
	    		font-size: $common-font-size - 4px;
	    	}
	    }
	    span{
	    	@extend %italicfont;
	    	color: #5b95c8;
	    	font-size: $common-font-size + 3px;
	    	@media #{$desktop-mini} {
	    		font-size: $common-font-size - 2px;
	    	}
	    	@media #{$ipadpro} {
	    		font-size: $common-font-size - 4px;
	    	}
	    }
	    p{
	    	@media #{$desktop-mini} {
	    		font-size: $common-font-size - 2px;
	    	}
	    	@media #{$ipadpro} {
	    		font-size: $common-font-size - 4px;
	    	}
	    }
	}

	.slider-nav{
		div{
			.famediv{
				@include set-mar(bottom, 0);
				img{
					@include mar(0 auto);
				}				
			}
		}
		.slick-dots{
			bottom:0;
		}
	}
}


.community{
	background:#f1f1f1;
	@include set-pad(bottom,50px);
	label{
	  @extend %ribbon;
	  &:before{
	  	z-index:0;	  	
	  }
	  &:after{
	  	z-index:0;	  	
	  }
	  @media #{$mobile} {
		@include pad(13px 50px);
	  }
	}
	hr{
		width:0px;
		background: #f4a23c;
		border:1px solid #f4a23c;
		height:40px;
		@include mar(0 auto);
	}
	h2{
		@extend %headingfont;
		font-size: $paragraph-font-size + 2px;
		color: #93b25b;
		font-weight:800;		
	}
	p{
		/* font-size: $common-font-size + 1px;  */
		font-weight:400;
		@include set-mar(bottom,0);
		color: $black;
	}
	a{
		@include button;
		text-decoration: none;
	}
}
/* ************************************** about our story forms page css :end *************************** */

/* ************************************** Communication page css :start *************************** */
.communicationpart{	
	@include set-pad(top,85px);
	color:$black;
	@media #{$ipadpro} {
		@include set-pad(top,80px);
	}
	@media #{$ipad} {
		@include set-pad(top,35px);
	}
	@media #{$mobile} {
		@include set-pad(top,35px);
	}
	ul{
			list-style: none;
			@include pad(0);
			@include set-pad(left,20px);
			@include mar(0);
			li{
				display:block;	
				position:relative;			
				@include set-pad(left,15px);
				a.f_links{
					text-transform:capitalize;
					color: $black;
					@extend %headingfont;
					font-size:16px;
					font-weight:500;
					text-decoration: none;
					&:hover{
						color: $green;
						text-decoration: none;
					}
					i{
						color: $green;
						position:absolute;	   
						left:0;
						top:2px;  	
						@media #{$mobile} {
							top:3px;
						}			
					}
					@media #{$mobile} {
						font-size: $common-font-size - 8px;
					}
				}

			}
		}
	h2{
		@extend %headingfont;
		font-weight:900;
		color: #0063af;
		font-size: $common-font-size;
	}
	a.btn{
		@include button;
		@include mar(20px 0);
	}

.sidebar-blue-section{
	@extend %sidebar-blue-section;	
}	
	
}
.sidebar-blue-section{
	.eventpart{
		a{
			h2{
				@include set-mar(top,20px);
			}
	 	}
		.enlink{
			margin-bottom: 20px;
	    	display: inline;
		} 	
	}
}

 

.bottom-dark-border-part{
	min-height:250px;
	.blue-border-box{
		@extend %dark-blue-border-box;
		background:transparent !important;
		&.one {
      		border:none;
      		border-top:solid 3px $primary;
      		border-bottom:solid 3px $primary;
      	}
		@include set-pad(bottom,20px);
	.ribbonpart{
		margin-top: -25px;
		text-align:center;
			label{
				@extend %ribbon;		
			    z-index: 9;	    
			    @include pad(14px 50px);
			    @media #{$mobile}{
			    	@include pad(14px 10px);
			    }
			}
        }
    }
	}

/* ************************************** Communication page css :end *************************** */