body{
	font-family: $common-font-family;
	color: $primary;
	@include pad(0);
	@include mar(0);
}
.removeXicon::-ms-clear {
  display: none;
}
.wrapper{
  @include pad(0);
}
.clerfix{
  clear: both;
}
:focus {
outline: 0;
}
p{
  font-size:$paragraph-font-size;
}
button:active {
outline: none;
border: none;
}
.m_b_50{
  @include set-mar(bottom,50px);
}
.p_tb_50{
   @include set-pad(bottom,50px);
    @include set-pad(top,50px);
}
.p_t_0{
  @include set-pad(top,0);
}
button:focus {outline:0;}

.container{
	max-width: $page-container;
}

.no-padding{
	@include pad(0);
}
.no-margin{
	@include mar(0);
}
.container-fluid{
	&.no-padding{
		 overflow: hidden;
	}
}
.m_t30{
  @include set-mar(top,30px);
}

 ul.social{
         	list-style: none;
         	float:left;
         	@include set-mar(bottom, 0);
         	@include set-pad(left,30px);
             @media #{$ipadpro}{
               @include set-pad(left,0px);
             }
         	 @media #{$mobile}{
         	 	@include set-pad(left,10px);
         	 }
         	li{
         		display:inline-block;
         		a{
         			background:$white;
         			border-radius:50%;
         			width:30px;
         			height:30px;
         			text-align: center;
         			float: left;
         			i{
  						color: $green;
  						font-size:1.25rem;
  						line-height: 1.6;
         			}
              &:hover{
                background:$green;
                @include trans;
                i{
                  color: $white;
                }
              }
         		}
         	}
         }

// ********** home slider *******************


.slider {
    width: auto;
}

.slick-slide {
    color: white;
    font-size: 30px;
    text-align: center;
    @media #{$mobile} {
      font-size: 0;
    }
}
.slick-slide img {
    display: block;
    max-width:none;
    object-fit: cover;
    width: 100%;
    @media #{$desktop-mini} {
      height:550px;
    }
    @media #{$ipadpro} {
      height:450px;
    }
    @media #{$ipad} {
      height:350px;
     }
     @media #{$mobile} {
      height:250px;
     }
}

.slick-prev:before,
.slick-next:before {
    color: #f4a23c;
}

.slick-dots {
    bottom: -40px;
    @media #{$ipad} {
      bottom: 0px;
    } 
    @media #{$mobile} {
      bottom: 0px;
    }
}
.slick-slider {
     @include set-mar(bottom,0);
}
.sliderpart{
    position:relative;
    @include set-pad(bottom,15px);

   .slider_footer{
      @include pad(10px 100px);
      background: rgba(0, 46, 89, 0.7);
      position:absolute;
      width:100%;
      z-index: 8;
      bottom:27px;
      line-height:1.2;
      img{
         width:auto;
         @media #{$mobile} {
            width:30%;
         }
      }
      @media #{$ipadpro} {
         @include pad(10px 15px);
       }
       @media #{$ipad} {
         @include pad(10px);
       }
      @media #{$mobile} {
        position:relative;
        bottom:0;
        @include pad(10px);
         background: rgba(0, 46, 89, 1);
      }
      p.slider-title{
         display: block;
         width:100%;
         font-family: $common-font-family;
         color: $white;
         font-weight:900;
         font-size: $common-font-size + 5px;
         text-transform: $text-case;
         @include set-mar(bottom,0);
         @include set-mar(top,12px);
         @media #{$ipadpro} {
            @include set-mar(top,7px);
         }
         @media #{$mobile} {
             font-size: $common-font-size;
         }
      }
      p.italic-title{
         display: block;
         width:100%;
         font-family: $italic-font;
         color: #c2bb50;
         font-size: $common-font-size;
         text-transform: capitalize;
         @include set-mar(bottom,0);
         @media #{$mobile} {
            font-size: $common-font-size - 3px;
         }
      }
      .btn{
         @include button;
         @include set-mar(top,15px);
         @media #{$ipadpro} {
            @include pad(5px 15px);
            font-weight:800;
            font-size: $common-font-size - 7px;
         }
         @media #{$ipad} {
            @include pad(5px 15px);
            font-weight:800;
            font-size: $common-font-size - 7px;
         }
         @media #{$mobile} {
            @include pad(5px 15px);
            font-weight:800;
            font-size: $common-font-size - 7px;
            @include set-mar(bottom,10px);
         }
      }
   }
}

 /* ********** I am a Section *********** */
.inner-container{
  max-width:80%;
  margin: 0 auto;
  @include pad(50px 0 25px 0);
  @media (min-width: 2000px) and (max-width: 2560px) {
     max-width:70%;
  }
   @media #{$desktop} {
      max-width:95%;
     }
   @media #{$desktop-mini} {     
      max-width:95%;
     }
  @media #{$ipadpro} {      
      max-width:95%;
     }
   @media #{$ipad} {     
       max-width:98%;
     }
     @media #{$mobile} {
       max-width:100%;
       @include pad(25px 10px);
     }
  &.customcontainer{
   position:relative;
   max-width:90%;
   @media (min-width: 2000px) and (max-width: 2560px) {
    max-width:70%;
   }
   @media #{$desktop-new} {
    max-width:95%;
   }
   @media #{$desktop} {
    max-width:100%;
   }
   @media #{$desktop-mini} {
    max-width:100%;
   }
   @media #{$ipadpro} {
    max-width:100%;
   }
   @media #{$ipad} {
    max-width:100%;
   }
   @media #{$mobile} {
    max-width:100%;
   }
   h2{
    @extend %headingfont;
    color: #062A55;
    font-weight:900;
    font-size:25px;
    @media #{$mobile} {
      font-size: $common-font-size ;
    }
   }
    hr {
    display: block;
    border-style: inset;
    border-width: 1px;
    width: 20%;
    border: 1px solid #f4a23c;
    margin-bottom: 45px!important;
    @media #{$ipad} {
      width: 30%;
    }
    @media #{$mobile} {
       width: 50%;
    }
}
  }
}

%boxes{
   width:440px;
   background:#f4a23c;
   height:218px;
   @include mar(0 auto);
     .contentpart{
      color: $white;
      font-size: $common-font-size;
      position:relative;
      .box1, .box2{
         z-index:5;
         position:relative;
         @include set-pad(left,20px);
          &:before{
             content: "";
             background-image: url(../img/yellow-patch.png);
             position: absolute;
             height: 216px;
             width: 480px;
             background-repeat: no-repeat;
             left: -16px;
             right: 0;
             z-index:-1;
             display:flex;
             background-size: contain;
             background-position: 50% center;

             @media #{$desktop} {
               width: 390px;
             }
              @media #{$desktop-mini} {
               width: 400px;
               height:200px;
               display:flex;
               background-size: contain;
             }
             @media #{$ipadpro} {
               width: 330px;
               height:200px;
               left: -10px;
               display:flex;
               background-size: contain;
             }
             @media #{$ipad} {
               width: 234px;
               height:200px;
               left: -10px;
              }
              @media #{$mobile} {
               width: 100%;
               left: 0px;
               height: 200px;
              }
            }
            img.imgover{
            max-width: 260px;
            max-height: 228px;
            min-height: 228px;
            @include mar(0 10%);
            @include set-mar(top,-10px);
            @media #{$desktop} {
              @include mar(0 auto);
              max-width: 250px;
            }

            @media #{$desktop-mini} {
                max-width: 230px;
                @include mar(0 auto);
                margin-left: 0;
            }

            @media #{$ipadpro} {
               max-width: 170px;
               max-height: 200px;
               min-height: 200px;
               @include set-mar(top,0px);
               @include mar(0 auto);
             }

            @media #{$ipad} {
               max-width: 117px;
               max-height: 200px;
               min-height: 200px;
               @include set-mar(top,0px);
               @include mar(0 auto);
             }

             @media #{$mobile} {
               max-width: 144px;
               max-height: 200px;
               min-height: 200px;
               @include set-mar(top,0px);
               display: flex;
               @include mar(0 4%);
             }
            }
            p{
               @extend %italicfont;
               color: $white;
               text-transform: none;
               @include set-pad(top,20px);
                @media #{$ipad} {
                  @include set-mar(top,5px);
                  font-size:15px;
                  @include set-pad(top,5px);
                  @include set-mar(bottom,5px);
                 }
               @media #{$mobile} {
                  font-size:17px;
                  @include set-pad(top,5px);
               }
               label{
                  @extend %headingfont;
                  font-weight:900;
                  @include set-mar(bottom,0px);
                  letter-spacing:1px;
                   @media #{$ipadpro} {
                  font-size:17px;
                 }
                   @media #{$ipad} {
                  font-size:11px;
                 }
                  @media #{$mobile} {
                  font-size:15px;
                 }
               }
            }
             ul{
                  list-style: none;
                  @include set-pad(left,10px);
                  @include set-mar(bottom,0);
                  @media #{$ipad} {
                     @include set-pad(left,0px);
                  }
                  @media #{$mobile} {
                     @include set-pad(left,0px);
                  }
                  li{
                     display: block;
                     line-height:1;
                     a{
                        @extend %headingfont;
                        @extend %linkeffect;
                        font-weight:900;
                        color: $white;
                        text-decoration:none;
                        font-size:14px;
                        letter-spacing:1px;
                          &:before{
                            background: $white;
                            bottom:-2px;
                          }
                         @media #{$ipad} {
                           font-size:11px;
                         }
                     }
                  }
               }

            .explore-btn{
            @include smallbutton;
            &.m_r10{
               @include set-mar(right,10px);
            }
            @media #{$ipad} {
                  font-size:10px;
                  @include pad(10px 17px);

               }
            @media #{$mobile} {
                  font-size:10px;
               }
           }
         }
         .box2{
            display: none;
         }
         .box2 p{
          @include set-mar(bottom,0);
         }
         .box2 .explore-btn{
          @include set-mar(top,15px);
            @media #{$ipad} {
              @include set-mar(top,0);
            }
         }
     }
    @media #{$desktop} {
       width:360px;
     }
     @media #{$desktop-mini} {
       width:360px;
     }
     @media #{$ipadpro} {
      width:305px;
      height:200px;
      @include set-mar(bottom,15px);
    }
     @media #{$ipad} {
      width:218px;
      height:200px;
      @include set-mar(bottom,15px);
    }
    @media #{$mobile} {
      width:100%;
      height:200px;
      @include set-mar(bottom,15px);
    }
}

#yellowbox{
   @extend %boxes;
}
#bluebox{
   @extend %boxes;
    background:#abc1df;
   .contentpart{
       .box1, .box2{
          &:before{
             background-image: url(../img/blue.png);
             }
          }
   }
}

#greenbox{
   @extend %boxes;
    background:#93b25b;
   .contentpart{
       .box1, .box2{
          &:before{
             background-image: url(../img/green.png);
             }
          }
   }
}

 /* ******** counter section ************* */
.bluecontainer{
   position:relative;
   min-height:335px;
   color: $white;
   display: inline-block;
   width: 100%;
   @include set-mar(top,150px);
   @include set-mar(bottom,125px);
   background: $primary;
     @media #{$mobile} {
        @include set-mar(top,35px);
        @include set-mar(bottom,35px);
        @include set-pad(top,50px);
        @include set-pad(bottom,50px);
     }
    &:before{
       content: "";
       background-image: url(../img/blu-bg-top.png);
       position: absolute;
       min-height: 120px;
       width: 100%;
       background-repeat: no-repeat;
       margin-top: -119px;
       background-size: cover;
       @media (min-width: 2000px) and (max-width: 2560px) {
        min-height: 152px;
         margin-top: -146px;
       }
       @media #{$desktop-mini} {
         display: flex;
         background-position: 20% center;
        }
       @media #{$ipadpro} {
         display: flex;
         background-position: 20% center;
        }
       @media #{$ipad} {
         display: flex;
         background-position:31% center;
       }
        @media #{$mobile} {
         background-image:none;
        }
      }
     &:after{
       content: "";
       background-image: url(../img/blue-bottom.png);
       position: absolute;
       min-height: 120px;
       width: 100%;
       background-repeat: no-repeat;
       margin-top: 0px;
       background-size: cover;
        @media (min-width: 2000px) and (max-width: 2560px) {
          min-height: 162px;
        }
       @media #{$desktop} {
         display: flex;
         background-position: 35% center;
        }
       @media #{$desktop-mini} {
         display: flex;
         background-position: 35% center;
        }
        @media #{$ipadpro} {
         display: flex;
         background-position: 18% center;
        }
       @media #{$ipad} {
         margin-top: -3px;
         display: flex;
         background-position: 25% center;
       }
       @media #{$mobile} {
         background-image:none;
        }
      }

      label{
           @extend %italicfont;
           color: #8fa9c8;
           @include set-mar(bottom,0);
             @media (min-width: 2000px) and (max-width: 2560px) {
              @include set-pad(top,25px);
             }
        }
       h3{
         @extend %headingfont;
         font-weight:300;
        }
       h2{
         @extend %headingfont;
         font-weight:900;
         color:#d6e1f2;
         font-size: $common-font-size;
         letter-spacing:1px;
         @include set-mar(top,20px);
        }

     .processBox {
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -ms-flex-wrap: wrap;
       flex-wrap: wrap;
       margin-right: -15px;
       margin-left: -15px;
       min-height: 250px;
       @media (min-width: 2000px) and (max-width: 2560px) {
        min-height: 265px;
       }
      /*  padding-top: 25px; */
        .processBoxCont {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
            text-align: center;
            padding:15px;
            position: relative;
            @media #{$ipad} {
              flex: 0 0 50%;
              max-width: 50%;
            }
            @media #{$mobile} {
              flex: 0 0 100%;
              max-width: 100%;
            }

          .imgBoxMain {
             position: relative;
             max-height:185px;
            
             @media #{$desktop-mini} {
                max-height:180px;
              }
             @media #{$ipadpro} {
               max-height:165px;
              }
              &:before {
                content: "";
                border-top: 1px solid #f2a13c;
                position: absolute;
                bottom: 32%;
                right: -100px;
                width: 200px;
                @media #{$desktop} {
                  right: -94px;
                  width: 165px;
                }
                @media #{$desktop-mini} {
                  bottom: 32%;
                  right: -66px;
                  width: 100px;
                }
                 @media #{$ipadpro} {
                  bottom: 28%;
                  right: -61px;
                  width: 100px;
                 }
                @media #{$ipad} {
                   border:none;
                }
                 @media #{$mobile} {
                  border:none;
                 }
            }
            .imgBox {
                border:1px solid #9ca7b2;
                width: 90px;
                height: 90px;
                margin: 0 auto;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                border-radius: 100%;
                @include set-mar(bottom,15px);
                img {
                   max-width: 58px;
                   max-height: 51px;
               }
            }
          }
         .counterpart{
              @include mar(0 50%);
              display: flex;
              justify-content:center;
                @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                  @include mar(0 auto);
                }
               .count {
                 display: table-cell;
                 text-align:center;
                 font-size:40px;
                 border-radius: 50%;
                 vertical-align: middle;
                 @extend %headingfont;
                 text-transform:capitalize;
                 color: #f4a23c;
                 font-weight:900;
                 @include mar(0 auto);
                 line-height: 1;
                 @media #{$desktop} {
                  font-size:35px;
                 }
                 @media #{$desktop-mini} {
                  font-size:30px;
                 }
                 @media #{$ipadpro} {
                  font-size:30px;
                 }
                }
               .extention{
                   @extend %headingfont;
                   font-weight:900;
                   color: #f4a23c;
                   font-size:40px;
                   line-height: 1;
                   @include set-mar(left,3px);
                   @media #{$desktop} {
                        font-size:35px;
                       }
                   @media #{$desktop-mini} {
                     font-size:30px;
                    }
                   @media #{$ipadpro} {
                     font-size:30px;
                    }
                }
               label{
                  @extend %headingfont;
                  font-weight:900;
                  color: #f4a23c;
                  font-size: $common-font-size + 5px;
                    @media #{$ipadpro} {
                      font-size: $common-font-size;
                    }
                }              
            }
               label{
                  @extend %italicfont;
                  color: #8fa9c8;
                  font-size:22px;
                  width:205px;
                  
                  @media #{$desktop-mini} {
                  font-size:20px;
                 }
                  @media #{$ipadpro} {
                     font-size:20px;
                    }
                }
                
        }
      }
      .processBox .processBoxCont:last-child{
            .imgBoxMain{
               &:before {
                content: "";
                border-top: none;
             }
         }
      }
      
  &.enroll{
    min-height:225px;
    margin-top: 120px !important;
    
    .inner-container{
      @include pad(0);
    }
    .processBox{
      min-height:200px !important;
      @include set-pad(top,0px);
      .processBoxCont{
        flex: 0 0 33%;
        max-width: 33%;
        @include pad(0 15px);
          @media #{$ipad} {
              flex: 0 0 33%;
              max-width: 33%;
          }
          @media #{$mobile} {
              flex: 0 0 100%;
              max-width: 100%;
          }
      }
    }
    .counterpart{
      margin: 0 auto !important;
        @media #{$desktop-new} {
         margin: 0 50% !important;
        }
        @media #{$desktop} {
         margin: 0 50% !important;
        }
        @media #{$desktop-mini} {
         margin: 0 50% !important;
        }
       @media #{$ipadpro} {
         margin: 0 50% !important;
       }
       @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        margin: 0 30% !important;
       }

      label{
        width: auto;
        z-index:10;
      }
    }
    .imgBoxMain{
      &:before{
        bottom: 11% !important;
        right: -103px !important;
        width: 178px !important; 
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          bottom: 11% !important;
        right: -93px !important;
        width: 150px !important; 
        }
        @media #{$desktop-new} {        
          right: -114px !important;
        }
        @media #{$desktop} {        
          right: -94px !important;
          width: 165px !important;
        }
        @media #{$desktop-mini} {
        bottom: 6% !important;            
        right: -90px !important;
        width: 155px !important;
        }
        @media #{$ipadpro} {    
        bottom: 0 !important;     
        right: -65px !important;
        width: 107px !important;
        }
      } 
      .imgBox{
        border:none !important;
        width: 100% !important;
        height:100% !important;
        img{
          max-width: 100% !important;
          max-height: 100% !important;
        }
      }
    }
    p.sortdiscription{
      max-width: 310px;
      @extend %headingfont;
      font-weight:400;
      color:#d6e1f2;
      font-size: $common-font-size - 6px;
      margin: 0 auto;
       @media #{$ipadpro} {
         
       }
    }
  }
  &.no-bg{
    background:transparent;
    color: $black;
    @include set-mar(top,25px);
    @include set-mar(bottom,0);
     @media #{$mobile} {
       margin-top: 0px !important; 
       padding-top: 0px !important; 
     } 
    &:before{
      content:"";
      background-image:none;
      min-height:0;
    }
    &:after{
      content:"";
      background-image:none; 
      min-height:0;
    }
    h2{
      color: #0063af;
    }
    .processBox{
      min-height:120px !important;
      @include set-pad(top,0px);
      @media #{$desktop-new} {
         min-height:155px !important;
        }
        @media #{$desktop} {
         min-height:155px !important;
        }
        @media #{$desktop-mini} {
         min-height:155px !important;
        }
       @media #{$ipadpro} {
         min-height:155px !important;
       }
      .processBoxCont{
        flex: 0 0 25%;
        max-width: 25%;
        @include pad(0 15px);
        @media #{$ipad} {
              flex: 0 0 50%;
              max-width: 50%;
            }
            @media #{$mobile} {
              flex: 0 0 100%;
              max-width: 100%;
            }

        .imgBoxMain{
           &:before{
            top: 20% !important;
            right: -75px !important;
            width: 140px !important; 
            @media #{$desktop-mini} {
              top: 15px !important;
              right: -49px !important;
              width: 60px !important;
            }
            @media #{$ipadpro} {
              top: 15px !important;
              right: -49px !important;
              width: 60px !important;
            }
          }
            @media #{$ipad} {
              @include pad(15px);
            }
            @media #{$mobile} {
              @include pad(15px);
            }
          .sortdiscription{
            color: $black; 
            text-transform: capitalize;
          }
        }
      } 
    }

  }
  } 

 /* ******** news and events section ************* */


%newsevent{
     @media #{$mobile} {
      @include pad(10px);
     }
      label{
         @extend %italicfont;
         width:100%;
         color:#b8cae4;
         font-size:25px;
         @include set-mar(bottom,20px);
          @include set-mar(top,10px);
         @media #{$mobile} {
            font-size:30px;
            text-align:center;
            @include set-mar(top,20px);
         }
      }
        .news{
   position: relative;
    padding: 10px;
    background:  #f4a23c;
    text-align: center;
    @media #{$mobile} {
      padding: 10px;
     }
      &:after {
         position: absolute;
         content: '';
         pointer-events: none;
      }
      h2{
         @extend %headingfont;
          font-weight:900;
          color: $white;
          font-size:25px;
          letter-spacing:1px;
          @include set-mar(bottom,0);
          @media #{$mobile} {
            font-size:20px;
          }
      }

     &.ss-style-triangles::after {
      left: 50%;
      width: 30px;
      height: 30px;
      -webkit-transform: translateX(-50%) rotate(45deg);
      transform: translateX(-50%) rotate(45deg);
      @media #{$mobile} {
         width: 35px;
         height: 35px;
      }
     }
      &.ss-style-triangles::after {
         bottom: -12px;
         z-index: -1;
         background: inherit;
         @media #{$mobile} {
            bottom: -16px;
         }
      }
}
      .link{
          text-align:right;
          width:100%;
          line-height: 3.5;
         a{
         @extend %headingfont;
         font-size:14px;
         font-weight:400;
         color: #0063ae;
         font-style:normal;
         &:hover{
          font-weight:700;
          @include trans;
           font-style:italic;
           font-size:15px;
         }
          }
      }
      .imgcontainer{
         @include pad(10px);
         border:1px solid #d4d4d4;
         position: relative;
         overflow: hidden;
         height: 300px;
         width: 100%;
         
          @media #{$ipad} {
            height: 100%;
          }
          @media #{$mobile} {
            @include set-mar(top,0px); 
            @include set-mar(bottom,20px);         
          }
          .img-thumbnails {
             position: relative;
             overflow:hidden;
             display:contents;
              img {
                height: 100%;
                width: 100%;
                -webkit-transition: .6s ease-in-out;
                transition: .6s ease-in-out;
                min-height: 280px;
                object-fit:cover;

                &:hover {
                   -webkit-transform: scale(1.1);
                   transform: scale(1.1);
               }
            }
         }
      }
      
      a{ 
         text-decoration:none;
          h2{
           @extend %headingfont;
           color:#0063ae;
           font-weight: 900;
           letter-spacing:1px;
           font-size: $common-font-size - 2px;
           @media #{$desktop} {
               font-size: $common-font-size;
           }
           @media #{$desktop-mini} {
               font-size: $common-font-size;
           }
           @media #{$ipadpro} {
              font-size: $common-font-size;
           }
           &:hover{
            color:#f4a23c;
            @include trans;
           }
        }        
      }
      p{
          @extend %headingfont;
          font-weight: 400;
          color: #0e2e56;
          font-size:14px;
          font-style: italic;
           @media #{$ipadpro} {
            font-size: $common-font-size - 6px;
         }
          span{
            color:#f4a23c;
            &:after{
               content:"|";
               color:#f4a23c;
               font-style: normal;
               @include set-mar(left,10px);
               @include set-mar(right,10px);
            }
            &.green{
               color:$green;
            }
            &.blue{
               color:#0063ae;
            }
         }
         &.sortcontent{
            @extend %headingfont;
            text-transform:none;
            font-style: normal;
            font-weight:400;
            @include mar(30px 0);
            line-height: 1.3;
            font-size:14px;
            @include set-pad(left,0);
            @media #{$desktop} {
               @include mar(25px 0);
               font-size:16px;
            }
            @media #{$desktop-mini} {
               @include mar(25px 0);
               font-size:16px;
            }
            @media #{$ipadpro} {
               @include mar(25px 0);
               font-size:16px;
            }
             @media #{$mobile} {
                @include mar(25px 0);
             }
         }
      }
      .enlink{
         @extend %headingfont;
         font-size:14px;
         color:#0063ae;
         font-weight:400;
        @extend %linkeffect;
         @media #{$ipadpro} {
            font-size:16px;
         }
         i{
            color:$green;
            font-size:22px;
            @include set-mar(left,20px);
            position:absolute;
         }

      }
   }
   .spacer{
      @include set-mar(bottom,50px);
      @media #{$mobile} {
         @include set-mar(bottom,25px);
       }
   }


.newspart{
   @extend %newsevent;
}

.eventpart{
   @extend %newsevent;
   &.myborder{
      border-top:1px solid #abc1df;
      @include set-pad(top,10px);
   }
   .imgcontainer{
         @include pad(0px);
         border:none;
         height: 100%;
         overflow: visible;
         .img-thumbnails {
            overflow: visible;
            img {
               &:hover{
                  transform:none;
               }
            }
         }
         @media #{$mobile} {
            @include set-mar(top,20px); 
            @include set-mar(bottom,20px);         
          }
      }
      .ribbon2 {
          width: 84px;
          padding: 10px 0;
          position: absolute;
          top: -6px;
          left: 25px;
          text-align: center;
          border-top-left-radius: 3px;
          background: #93b25b;
          color:$white;
          @extend %headingfont;
         }
         .ribbon2:before {
          height: 0;
          width: 0;
          right: -5.5px;
          top: 0.1px;
          border-bottom: 6px solid #799545;
          border-right: 6px solid transparent;
         }
         .ribbon2:before, .ribbon2:after {
           content: "";
           position: absolute;
         }
         .ribbon2:after {
           height: 0;
           width: 0;
           bottom: -29.5px;
           left: 0;
           border-bottom: 30px solid transparent;
         }
}

   h2.no-background {
      position: relative;
      overflow: hidden;
      text-align:left;
      font-size: $common-font-size;
      font-weight: 900;
      font-size: 25px;
      color: #0063ae;
      text-transform: $text-case;

      span {
          display: inline-block;
          vertical-align: baseline;
          zoom: 1;
          *display: inline;
          *vertical-align: auto;
          position: relative;
          padding: 0 20px;
        @media #{$mobile} {
           padding: 0;
        }
           &:after {
              content: '';
              display: block;
              width: 1000px;
              position: absolute;
              top: 0.60em;
              border-top: 2px solid #8ab44d;
          }

          //&:before { right: 100%; }
          &:after { left: 100%; }
      }
     }

/* ************************* slider part *************** */
.lazy.slider{
   .slick-list{
      .slick-slide{
         background:#0d325f;
         @include set-mar(bottom,-12px);
         img{
          object-fit: cover;
          object-position: center;
          height: 100%;
         }
      }
      .banner-img{
         position:relative;
         height:600px;
         @media #{$ipadpro} {
            height:680px;
          }
         &:after{
         content:"";
         background-image:url(../img/slider-border.png);
         height:100%;
         width:20px;
         position:absolute;
         right:0px;
         z-index:10;
         top:0;          
         @media #{$ipad} {
            background-image:none;
          }
          @media #{$mobile} {
            background-image:none;
          }
      }
      }
   .slide-description{
      position:relative;
      /* max-height:600px; */
      overflow:hidden;
      display:flex;
      flex-wrap:wrap;
      align-content:center;
      height:600px;
      overflow:hidden;

      @media #{$desktop} {
         padding: 15px;
      }
      @media #{$desktop-mini} {
         padding: 15px;
      }
       @media #{$ipadpro} {
         padding: 15px;
         /*  max-height:650px; */
       }
         @media #{$ipad} {height:auto;}
       @media #{$mobile} {
         padding: 15px;
         /* height:1015px; */
       }

      h1{
         @extend %italicfont;
         font-size:$common-font-size + 5px;
         width: 100%;
         display:block;
      }
      h4{
         @extend %headingfont;
          font-size:$common-font-size - 5px;
          /* line-height: 3.5;   */
          @include set-mar(bottom,20px);
          display:block;   
          width: 100%;
      }
      label{
         @extend %headingfont;
         display: block;
         /* @include set-mar(bottom,20px);
          @include set-mar(top,20px);*/
         font-weight:900;
         font-size:$common-font-size + 5px;
      }
      hr {
        display: block;
        @include mar(0.5em 0 0.5em 0);
        border-style: inset;
        border-width: 1px;
        width:20%;
        border:1px solid #adc1e5;
        display: block;
      }
      p{
        font-size:14px;
        @include set-mar(bottom,0);
        width: 100%;
        display:block;
      }
      a{
         @include button;
         @include trans;
         @include set-mar(top,30px);
         display: table;
         
         
         @media #{$ipad} {
          @include set-mar(top,50px);
          @include set-mar(bottom,50px);
         }
         @media #{$mobile} {
             @include set-mar(bottom,50px);
         }
         &:hover{
            text-decoration:none;
         }
      }
   }
}

.slick-prev,
.slick-next {
   @media #{$mobile} {
      display: none !important;
   }
}
.slick-prev{
  @media #{$desktop} {
    right: 92px;
    z-index: 9;
    top: 55px;
    left: auto;
  }
  @media #{$desktop-mini} {
    right: 92px;
    z-index: 9;
    top: 55px;
    left: auto;
  }
   @media #{$ipadpro} {
    right: 92px;
    z-index: 9;
    top: 55px;
    left: auto;
  }
}
.slick-next {
  @media #{$desktop} {
    right: 15px;
    z-index: 99;
    top: 55px;
  }
  @media #{$desktop-mini} {
    right: 15px;
    z-index: 99;
    top: 55px;
  }
  @media #{$ipadpro} {
    right: 15px;
    z-index: 99;
    top: 55px;
  }
}
.slick-next:before {
    content: "";
    background-image:url(../img/slider-next.png);
    display: inline-block;
    height: 28px;
    width: 20px;
  }
  .slick-prev:before {
    content: "";
    background-image:url(../img/slider-previous.png);
    display: inline-block;
    height: 28px;
    width: 20px;
  }
  .slick-dots{
    display:none !important;
    @media #{$ipad} {
       display:block !important; 
     }
     @media #{$mobile} {
       display:block !important; 
     }
  }
  &.slick-list {
    &.draggable{
      .slick-dots{
      @media #{$mobile} {
       display:block !important; 
     }
     }
    }
  }
}

/* ************************* instagram part *************** */

.instagram{
   @include set-mar(top,60px);
   min-height:250px;
   label{
      @extend %ribbon;
   }
}
