.paragraphpart{
	label{
			i{
				@include set-mar(right,15px);
			}
		
		.svg{
				&#logo{
				height:35px;
				width:40px;
				position:relative;
				@include set-mar(right,20px);
				@include set-mar(bottom,10px);
					@media #{$mobile}{
						height: 55px;
						width: 65px;
						@include set-mar(right,2px);
					}
				 path {
				  fill: $primary !important;
				  stroke: $primary !important;
				}
		    }
		}
			
	}
}

