.blue-section{
  &.school-map{
    position:relative; 
  h2{
    @extend %italicfont;
    font-size: 32px;
    @include mar(65px 0);
  }  
  .blue-border-box{
    @include pad(0);
    position: relative;
    height: 500px;
    overflow: hidden;
    @media #{$ipadpro} {
       height: 405px;
       @include mar(0px);
    }
    @media #{$ipad} {
       height: 320px;
       @include mar(0px);
    }
    @media #{$mobile} {
       height: 120px;
       @include mar(0px);
    }
    img{
      z-index: 0;
      position: absolute;
      left: 0;
      right: 0;
    }
  }      
    .ribbonpart{
      position: absolute;
      left: 0;
      right: 0;
      @include set-mar(top,-7px);
    }
  }
}
.schools-accordion {
  .card-header {
    @include set-mar(bottom,0px);
  }
  .card .card-body {
    background-color: #ebebeb;
    .card-body-panel{
      @include pad(40px);
      h4{
        @extend %headingfont;
        font-weight: 900;
        @include set-mar(bottom,15px);
      }
      a.btn{
        @include button;
    		@include trans;
        @include pad(7px 12px);
        font-size: $common-font-size - 8px;
        text-decoration: none;
         @media #{$desktop} {
          @include pad(7px 10px);
         }
      }
    }
  }
}
.school-info-block{
  border-bottom:1px solid #e5942f;
    @include pad(15px 0);
    height:100%; 
    .school-name{
      color:#0063ae;
      text-transform:uppercase;
      @extend %headingfont;
      font-weight: 900;
    }
    p.address{
      @include mar(0px);
      color:$black;
      @include set-mar(top,0);
    }
    .btn-block{
      text-align: left;
      @include set-mar(top, 10px);

    }
}
.map-section{
      z-index: 0;
      @media #{$desktop} {
            min-height: 235px;
      }
      @media #{$desktop-mini} {
            min-height: 235px;
      }
      @media #{$ipadpro} {
            min-height: 235px;
      }
      @media #{$ipad} {
            min-height: 235px;
      }
  .inner-container{
    max-width:60%;
    @include pad(0);

    @media #{$ipad} {
      max-width:90%;
     }
     @media #{$mobile} {
      max-width:90%;
     }
  }
  h2{
    font-weight:900;
    color: #abc1df;
    font-size: $common-font-size;
    @include set-mar(bottom,0);
    @include set-mar(top,0);
  }
  a.btn{
    @include button;
    @include trans;
    @include pad(7px 25px);
    font-size: $common-font-size - 8px;
    background-color: #aec3e0;
    border-color:#aec3e0;
    @include set-mar(bottom,15px);
      &:hover{
        color: #002e59;
        border-color:#002e59;
      }
      &:focus{
        color: #002e59;
        border-color:#002e59;
      }
       @media #{$ipadpro} {
         @include pad(7px 20px); 
         width:165px;
         text-align: center;
       }
  }
  h4{
    @extend %headingfont;
    color: #f4a23c;
    font-weight:900;
    letter-spacing:1px;
  }
  img{
    @include set-mar(top,10px);
    z-index:10;
    @media #{$ipadpro} {
      @include pad(10px);
       @include set-mar(top,0px);
    }
    @media #{$mobile} {
      @include pad(10px);
    }
  }
   &:after{
    z-index: -1;
    @include set-mar(top,-25px);
   }
}


.did-you-konw-section{
  @include set-mar(top, 40px);
  @include set-mar(bottom, 40px);
  @media #{$mobile} {
     @include set-mar(top, 0px);
  }
  .image-thum-block{
    @extend %image-thum-block;
     height: 300px; 
  }
  h2.no-background{
    span{
      &:after{
        border-top:2px solid #e69938;
      }
    }
  }
  h3{
    @extend %italicfont;
    font-size:25px;
    color: #abc1df;
  }
  span{
    @include set-pad(left, 0px);

  }
  a.btn{
    @include button;
    @include trans;
    @include pad(7px 25px);    
    text-decoration: none;
  }
}


.page-template-school, .page-template-school-detail, .page-template-contact-directory{
  .parallaxpart{
    min-height:270px;
  }  
}

.page-template-school-detail{
  #wrapper-footer{
    margin-top: -30px;
  }
  .parallaxpart{
    @include set-mar(top,100px);
    &.threebox{
      text-align:center;
      .greenbox{
        @include mar(5%);
        /* min-height: 208px;
        position:relative; */
       
          @media #{$mobile} {
            min-height: 208px;
          }
      }
  }
}
}

.overalappart{
  text-align:center;
  a.btn{
      @include button;      
    }
  .paragraphpart{
    @include set-mar(top,15px);
    h3{
      @include set-mar(bottom,0px);
    }

  }
}
