.page-template-joinourteam{
	.selectionpart .links>.line{
		    margin: 0 12%
	}
}
.loading_image {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    z-index: 99999999;
    text-align: center;
    display: none;
}
.loading_image .loader {
    display: inline-block;
    border: 6px solid #fff;
    border-radius: 50%;
    border-top: 6px solid #002e59;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
} 
.loading_image{
	img{
	position: absolute;
    top: 53%;
    left: 0;
    right: 0;
    margin: 0 auto;
	}
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

	ul.linkpart{
		list-style: none;
		@include pad(0);
		@include mar(0);
		@include set-pad(left,0);
		li{		
	    margin-bottom: 5px!important;
	    border: none;
	    background-color: rgba(0,0,0,.03);
	    @include trans;
	    display:block;	 
	    @include set-pad(left,0);
		    @media #{$mobile}{

		    }  
		    &:before{
		    	content: "";
		    	background-image: url(../img/link-arrow.png);
				display: block;
				position: absolute;
				width: 33px;
				height: 80px;
				background-repeat:no-repeat;
				@media #{$mobile}{
		    		background-image:none;
		    	}
		    }
		    
			a{
				color: $black;
			    font-weight: 700;
			    font-size: 20px;
				display:block;
				@include pad(18px 50px);
				text-transform:uppercase;
					@media #{$mobile}{
						@include pad(19px 23px 19px 7px);
						font-size: 17px;
					}
				 @extend %linkeffect;
				 &:before{
				 	 background-color: #e5942f;
				 	 @media #{$mobile}{
				 	 	 background-color: transparent;
				 	 }
				 }
				&:hover{
					color:#e5942f;
					text-decoration: none;
				} 
				span.link-arrow{					
			    	background-image: url(../img/link-arrow-green.png);
					width: 16px;
					height: 24px;
					background-repeat:no-repeat;
					position:absolute;		
					right:10px;
					top:32%;			 
				}
			} 
		}
	}


.news_content{
	@include set-pad(bottom,50px);
	@media #{$ipad}{
		@include set-pad(top,0px);
	}
	.newspart{
		.spacer{
			@media #{$ipadpro}{
					@include set-mar(bottom,0px);
				}
			}
		p.sortcontent{
			@media #{$ipadpro}{
				font-size: $common-font-size - 6px;
			}
		}	
		.enlink{
			display:inline; 
			@media #{$ipadpro}{
				font-size: $common-font-size - 6px;
			}
		 }	
		}
	ul{
		list-style: none;
		@include pad(0);
		/* @include set-pad(left,20px); */
		@include mar(0);
			
		li{
			display:block;	
			position:relative;			
			@include set-pad(left,20px);
			
			a.f_links{
				text-transform:capitalize;
				color: $black;
				@extend %headingfont;
				font-size:16px;
				font-weight:500;
				text-decoration: none;
				&:hover{
					color: $green;
					text-decoration: none;
				}
				i{
					color: $green;
					position:absolute;	   
					left:0;  
					line-height:1.5;				
				}
			}
		}
	}
	label{
		@extend %italicfont;
		font-size: $common-font-size + 5px;
		color: #abc1df;
	}
	ul#myTab{
		border:none;
		@include set-mar(bottom,20px);
		.nav-item{
			@include set-pad(left,0);
				
				&:last-child {
					.nav-link {
						 &:after{
							content:"";
						}
					}
				}
			.nav-link{
				background: transparent;
				border:none;
				color: #002e59;
				@include pad(10px 0);
				text-transform:uppercase;
				cursor: pointer;
				&.active{
					font-weight:900;
					font-style:italic;
				}	
				&.hover{
					font-weight:900;
					font-style:italic;
				}			
				&:after{
					content:"|";
					color: #cec44e;
					@include mar(0 20px);
					font-style:normal;
					font-weight:400;	
					@media #{$mobile} {
						@include mar(0 10px);	
					}				
				}
					
				}

			}

		}
		.tab-content{
			hr {
		        display: block;
		        @include mar(2em 0 2em 0);
		        border-style: inset;
		        border-width: 1px;
		        width:100%;
		        border:1px solid #abc1df;
		      }
		  }
      ul.pagination{
		@include set-pad(left,0);
		li.page-item{
			@include set-pad(left,0);
			@include set-pad(right,5px);
			&.active{
				a.page-link{
					color: $primary;					
				}
			}
			a.page-link{
				border:none;
				background:transparent;		
				font-weight:900;
				color: #abc1df;		
				i{
					color: $green;
				}
			}
		}
      }	

    .sidebar-blue-section{
		@extend %sidebar-blue-section;
	}

	.eventpart{
		@include set-mar(top,25px);
		label{
			color:#abc1df;
			font-size: $common-font-size + 5px;
		}
		.spacer{
			@include set-mar(bottom,25px);

		}
		p{
			    padding: 0 20px 0 0;
			    span{
			    	color: #6b95cf;
			    }
		}
		.sidebar-blue-section{
			.imgcontainer{
				padding: 10px !important;
	    		border: 1px solid #d4d4d4 !important; 
	    	}
		}
	}  

	a.btn{
		@include button;
	}
}


.pagination_event{
	.page-numbers{
		position: relative;
	    display: inline-block;
	    padding: .5rem .75rem;
	    margin-left: -1px;
	    line-height: 1.25;
	    color: #abc1df; 
	    font-weight:900;  
	    cursor:pointer;
	    text-decoration: none;
	    &:hover{
	    	color: $primary;
	    	text-decoration:none;
	    }
	    &.current{				
			color: $primary;
		}
		&.next{			
			&:before{
				content: "\f101";
    			opacity: 1;
    			display:inline-block;
    			font-family: "FontAwesome"; 
    			color:$green;
			}
		}
		&.prev{			
			&:before{
				content: "\f100";    			
				opacity: 1;
    			display:inline-block;
    			font-family: "FontAwesome"; 
    			color:$green;
			}
		}
	}
}
.join-our-team{	 
	 	@include set-pad(top,0px); 

	.blue-border-box{ @include set-mar(top,50px); }
	.ribbontitle{
	   @include set-mar(top,60px);
	   
	   label{
	      @extend %ribbon;	      
	      @include set-mar(bottom,30px);
	      &:before, &:after{
	      	z-index:-1;
	      }
	      @media #{$ipadpro}{
	      	padding: 13px 50px;
	      }
	      @media #{$mobile}{
	      	padding: 16px 5px;
    		font-size: 13px;
	      }
	   }
	}

	.sidebar-blue-section{	
		@include pad(50px 70px);
		text-align:center;
		@media #{$desktop}{
			@include pad(0 30px);
		}
		@media #{$desktop-mini}{
			@include pad(0 30px);
		}
		@media #{$ipadpro}{
			@include pad(0 30px);
		}
		@media #{$ipad}{
			@include set-mar(top,60px);
		}
		@media #{$mobile}{
			@include pad(0 20px);
			@include set-mar(top,60px);
		}

		.blue-border-box{
				@extend %blue-border-box;
				@include set-pad(bottom,20px);
				.ribbonpart{
					margin-top: -25px;
					text-align:center;
						label{
							@extend %ribbon;		
						    z-index: 9;	    
						    @include pad(14px 50px);
						    @media #{$mobile}{
						    	@include pad(14px 10px);
						    }
						}
			        }
				h2{
			    	@extend %headingfont;
			    	font-weight:500;
			    }
		    }
		    h3{
		    	text-align:center; 
				color: #abc1df;
				font-size: $common-font-size;
				@include pad(0 20px);
				@extend %italicfont; 
		    }  		
		}
	       .iconpart{
	    	width:83px;
	    	height:83px;
	    	border-radius:50%;
	    	border:1px solid $black;
	    	display:block;
	    	background:transparent;
	    	margin: 50px auto 20px auto;
	    	@include pad(14px 0);
	    }
	    .counterpart{
	    	@extend %headingfont;
	    	font-weight:800;
	    	@include set-mar(top,20px);
	    	@include set-mar(bottom,40px);
	    	font-size: $common-font-size;  
	    	color: #2c76b7;  	
	    	.count{
	    		display:inline-block;
	    	}
	    	.extention{
	           @extend %headingfont;
	           font-weight:900;
	           line-height: 1;
	           display:inline-block;
	           @media #{$desktop} {
	                /* font-size:35px; */
	               }
	           @media #{$desktop-mini} {
	             /* font-size:30px; */
	            }
	           @media #{$ipadpro} {
	             /* font-size:30px; */
	            }
	       }
	       label{
	       	color: #2c76b7;  
	       	margin: 0 auto;
	       	width:200px;
	       	line-height:1.5;
	       	display:block;	
	       	@extend %italicfont;   
	       	text-align:center;    	
	       }	      
	    } 

	&.communicationpart{
		@include set-pad(top,0);
		h2{
			color:#002e59;
		}
	}
	iframe{
		@media #{$mobile}{
			height:300px !important;
		}
	}
}

.fancy-gallery-part{
	max-height: 740px;
	overflow:hidden;
	@include pad(0 0 25px 0);	
	@media #{$mobile}{
	 	@include pad(0px 10px);
	 	max-height: 320px;
	}
	.gallery{
	    display: inline-block;
	    margin-bottom: 50px;  
	    @include set-mar(top,0);
	    position:relative;
	    /* overflow:hidden; */
	    
	    @media #{$ipadpro}{ 
	    	margin-bottom: 30px;  
	    }
	    @media #{$ipad}{
	    	margin-bottom: 25px;  
	    }
	    img.img-responsive{
	    	height:320px;
			width: 320px;
			object-fit:cover;
			@media #{$desktop}{
				height: 255px;
    			width: 270px;
	    	}
			@media #{$ipadpro}{
				height: 220px;
    			width: 220px;
	    	}
			@media #{$ipad}{
				height: 155px;
    			width: 220px;
	    	}
	    	@media #{$mobile}{
				@include set-pad(bottom,30px);
	    	}
	    }	
	}
}

.short-contentpart{
	@include mar(50px 0);
}

.visitlink-sec{	
	@include pad(5px 0);
	@include set-mar(bottom,0px);
	
	.visitlinkdiv{
		margin-bottom: 60px; 
		height:100%;
		position: relative;
		@include set-pad(bottom,50px);
    	/* min-height: 175px; */
		svg{
			width: 70px;
			height: 70px;
			margin-bottom: 5px; 
			path{
				fill:  $primary;
			}
		} 
		h3{
	    	@extend %headingfont;
	    	line-height: 1.5;
	    	font-weight:900;
	    	color: #f4a23c;
	    	@include set-mar(bottom,0);	    	
	    }
	    p{	    	 
		    color: $black;
		    @include set-mar(bottom,0);
	    }
	    a.btn{
	    	@include button;
			@include mar(5px 0);
			position: absolute;
		    left: 0;
		    right: 0;
		    width: 50%;
		    margin: 0 auto;
		    bottom: 0;
		    @media #{$ipadpro}{
				width: 80%;
		    }
		    @media #{$ipad}{
				width: 80%;
		    }
	    }    
	}

}
.featuredbox-sec{
	min-height: auto;
	margin-top: 120px!important;
	z-index:10;
	 @media #{$mobile}{
	 	@include set-mar(top,0);
	 }
	img{ 
		
	}
	h2{
		color: #0063ae;
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 900;
		@include set-mar(top,0);
	}
	p{

	}
	&:after{
		@include set-mar(top,-26px);
		z-index:-1;
	}
}

.display-flex {
	  display: flex;
	  flex-wrap: wrap;
	}
	.display-flex > [class*='col-'] {
	  display: flex;
	  flex-direction: column;
	}
#overlay {
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  padding: 28% 0;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    position:absolute;
    @media #{$mobile}{
		opacity: 1;
    } 
}

a.thumbnail:hover #overlay {
  opacity: 1;
}

#plus {
  font-family: Helvetica;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.85);
  font-size: 96px;
}

#button {
  
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  // opacity: 0;
  // visibility: hidden;
  display:none;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}