#wrapper-footer{
	z-index: 10;
    margin-top: -50px;
    @media #{$mobile} {
    	@include set-mar(top,0);
    }
}



footer{
	.newsletter{	
	   background:transparent;	
        &:before{
        	@extend %yellowpart;			
			background-image: url(../img/footer-top.png);
            height: 60px;  
            top:1px;    
            @media #{$ipad} {	
              	 height: 20px;  
              } 
              @media #{$mobile} {	
              	 height: 20px;  
              }  
           }

		&:after{
			@extend %yellowpart;
			background-image: url(../img/footer-bottom.png);
            height: 42px;    
            top:-6px;   
             @media #{$ipad} {	
              	 height: 20px;  
              }
            @media #{$mobile} {	
              	 height: 20px;  
              }
		}
		@media #{$mobile} {
			background:#e5942f;
			&:before{
			background-image: none;
			}
			&:after{
			background-image: none;
			}
		}
		.content-conainer{
			background:#e5942f;
			position:relative;
			@include set-pad(left, 100px);
			top:-5px;
			&:before{
				content:"";
				background-image: url(../img/side-yellow.jpg);
				background-repeat: repeat-y;
				height:100%;
				width:68px;
				display: block;
				position:absolute;
				left:0;
				top:2px;
			}
			@media #{$mobile} {		
			@include set-pad(left, 15px);	
				&:before{
				background-image: none;
				}
		   }

			.italicfont{
				font-family:$italic-font;
				font-size: 25px;
				color:#0063ae;
				margin-bottom: 0;
				text-transform: capitalize;
				@media #{$ipad} {
					font-size: $common-font-size;
				}
			}
			.headingfont{
				font-family:$common-font-family;
				font-size: 30px;
				color:$primary;
				text-transform: $text-case;
				font-weight: 900;
				@media #{$desktop-mini} {
					font-size: $common-font-size ;
				}
				@media #{$ipadpro} {
					font-size: $common-font-size + 2px;
				}
				@media #{$ipad} {
					font-size: $common-font-size - 3px;
				}
			}
			ul.social {
				@include set-pad(left,0);
				@include set-pad(top,30px);
				@media #{$ipad} {
					@include set-pad(top,20px);
				}
				@media #{$mobile}{
					@include set-pad(top,0px);
				}
			}	
			}
		}

				.f_news{
					@include set-mar(top,20px);
					@media #{$ipad} {
					@include set-mar(top,10px);
				   }
					@media #{$mobile}{
						@include set-mar(top,0px);
					}
				.input-field {
				  width: 100%;
				  padding: 10px 15px;
				  outline: none;
                  border-radius:25px;
                  border-top-right-radius:0;
                  border-bottom-right-radius:0;
                  border:none;                  
                 color: #0c67b0;
                 text-transform: $text-case;
                  @include placeholder {font-size: $common-font-size - 6px; color: #0c67b0 !important; font-weight: 400;}
                  @media #{$desktop-new} {
                  	margin-left: -1px;
                  	 width: 275px;
                  }
                 }
					
                 .input-container {
				  display: -ms-flexbox; /* IE10 */
				  display: flex;
				  width: 350px;
				  @include set-mar(bottom,15px);				 
				   @include trans;
				   @media #{$desktop}{
				   	width: 260px;				   	
				   	@include set-mar(left,45px);
				   }
				   @media #{$desktop-mini}{
				   	width: 260px;				   	
				   	@include set-mar(left,15px);
				   }
				   @media #{$ipadpro}{
				   	width: 230px;				   	
				   	@include set-mar(left,33px);
				   }
				   @media #{$ipad}{
				   	width: 280px;
				   	@include set-mar(bottom,0px);
				   }
				   @media #{$mobile}{
				   	width: 280px;
				   	@include set-mar(bottom,0px);
				   }
				} 
				.icon {
				  padding: 6px;
				  background: $white;
				  color: $green;
				  min-width: 50px;
				  text-align: center;
				  border-radius:25px;
                  border-top-left-radius:0;
                  border-bottom-left-radius:0;
                  font-size: $common-font-size + 4px; 
                  @include set-mar(left,-5px);
                  i{
                  	&:hover{
                  	-webkit-animation: bounceright .3s alternate ease infinite;
					animation: bounceright .3s alternate ease infinite;
                   } 
                   @keyframes bounceright {
					from { transform: translateX(0); }
					to   { transform: translateX(5px); }
				   }
                  }                                  		  
				}
				}	
.footer-part{
	background: $primary;
	@include set-mar(top,-35px);
	@include pad(45px 70px);
	 @media #{$desktop} {
		@include pad(45px 10px);
	 }
	@media #{$desktop-mini} {
		@include pad(45px 10px);
	}
	@media #{$ipadpro}{
		@include pad(45px 10px);
	}
	@media #{$ipad} {
		@include pad(45px 10px);
	}
	@media #{$mobile} {
		@include set-mar(top,0px);
		@include pad(45px 10px);
	}
	a.project_logo{
		img{
		  @include pad(10px 0);
	    }
	 }
	 ul.addresspart{
	 	font-family:$common-font-family;
	 	font-weight: 300;
	 	font-size: $common-font-size - 3px;
	 	color:$white;
	 	list-style: none;
	 	letter-spacing: 1px;
	 	@include set-mar(top,15px);
	 	@include set-pad(left,0px);
	        li{
	        	line-height: 1;        
				label{
					font-family:$italic-font;
					font-size: $common-font-size;
					color:$green;
					text-transform: capitalize;
					@include set-mar(right,10px);
					@include set-mar(bottom,0px);					
				}
					a{
						color:$white;
						font-weight: 300;
						text-decoration:none;
					}
				&:nth-child(3),&:nth-child(4){	
				@include set-mar(top,20px);	
			  }
			}
	 }
	 .f_news{
	 	@include set-mar(top,35px);	
	 	@media #{$ipad} {
	 		@include set-mar(bottom,25px);
	 	}
	 	@media #{$mobile} {
	 		@include set-mar(bottom,25px);
	 	}
	 	.input-field {
	 		border-radius:25px;
            border-top-left-radius:0;
            border-bottom-left-radius:0;
            padding: 6px 0;
            @media #{$desktop-new} {
            	width:175px;
            }
            @media #{$desktop} {
            	width:175px;
            }
            @media #{$desktop-mini} {
            	width:145px;
            }

            @media #{$ipad} {
					margin-left: -2px;
                  }
	 	}
	 	.input-container {
	 		width: 280px;

	 		@media #{$desktop-new} {
	 		 	@include set-mar(left,0);
	 		 }
	 		@media #{$desktop} {
	 		 	@include set-mar(left,0);
	 		 }
	 		@media #{$desktop-mini} {
	 		 	@include set-mar(left,0);
	 		 }
	 		@media #{$ipadpro}{
            	width:260px;
            	@include set-mar(left,0px);
            }
	 		 
	 	}
	 	.icon {
	 		border-radius:25px;
	 		border-top-right-radius:0;
            border-bottom-right-radius:0;
            border:none;
            }
	 }


     label{
     	&.quick-links{
     	font-family: $italic-font;
     	font-size: $common-font-size;
     	color: $green;
     	@include set-pad(left,20px);
      }
     }
     ul{
     	@include set-pad(left,20px);
     	li{
     		list-style: none;
     		display:block;
     		a.nav-link{
     			text-transform: capitalize;
     			font-size:16px;
     			color:$white;
     			font-family: $common-font-family;
     			letter-spacing:1px;
     			@include pad(0);
     			@media #{$desktop} {
				 font-size:14px;
     			}
     			 @media #{$desktop-mini} {
     			 	font-size:14px;
     			 }
     			@media #{$mobile} {
     				font-size:14px;
     			}
     			&:hover{
     				color:$green;
     				text-decoration: none;
     			}
     			i{
     				color:#cec44e;
     				font-size:18px;
     				position: absolute;
				    left: 19px;
				    line-height: 1.3;
     			}
     		}
     	}
     }

     .videopart{
     	position:relative;
     	width: 340px;
	    height: 350px;
	    overflow: hidden;
	    background-color: #002e59;
	    margin: 0 auto;
		@media (min-width: 100px) and (max-width: 330px) {
    		width: 250px;
    		height: 250px;
    		}
     	.videocontent{
 		    position: absolute;
		    left: 0;
		    right: 0;
		    top: 20%;
		    text-align: center;
     	h3{
     		font-size:30px;
     		color:$white;
     		font-family: $common-font-family;
     		font-weight: 900;
     		z-index: 3;
    		display: block;
    		text-transform: $text-case;
     	}
     	.smallcontent{
     		font-family: $italic-font;
     		font-size:25px;
     		text-transform:capitalize;     		
     		z-index: 3;
     		display: block;
    		color: $white;

     	}
     	a:hover{
     		color:transparent;
     		text-decoration: none;
     	}
     	i{
     	     z-index: 3;
		    display: block;		    
		    color: #0063ae;
		    font-size: 80px;
		    position:relative;
		    
    		&:after{
    			width: 36px;
			    height: 36px;
			    background: #fff;
			    content: "";
			    display: block;
			    position:absolute;
			    top: 21%;
			    left: 47%;
			    z-index: -1;
			    right: 0;
    		}
     	}
     	}
     	img{
     		z-index: -1;
		    opacity: .5;
		    width: 340px;
		    height: 348px;
		    border-radius: 100%;
		    padding: 2px;
    		 @media (min-width: 100px) and (max-width: 330px) {
	    		width: 250px;
	    		height: 250px;
	    		}
     	}
     
     	&:before{
     		content: "";
		    background-image: url(../img/video.png);
		    height: 350px;
		    width: 355px;
		    display: block;
		    z-index: 2;
		    position: absolute;
		    left: 0;
		    top: 0;
     		// @media #{$desktop-new} {
     		// 	left:14%;
     		// }
     		// @media #{$desktop} {
     		//  	left:10%;
     		//  }
     		//  @media #{$desktop-mini} {
     		//  	left:4%;
     		//  }
     		// @media #{$ipadpro} {
     		// 	left:32%;
     		// }
     		// @media #{$ipad} {
     		// 	left:26%;
     		// }
     		@media #{$mobile} {
     			background-image:none;
     		}

     	}
     }
     hr{
     	color: #d2d3d3;
		background-color: #d2d3d3;
		height: 1px;
     }
     .privacy{
     	font-family: $common-font-family;
     	font-size: 10px;
     	color:$white;
     	text-align:center;
     	@include mar(auto 55px);
     	@include set-mar(bottom, 35px);
     	@media #{$mobile} {
     		@include mar(auto 0px);
     	}
     }
     .brand_section{
     	a{
     		img{
     			@include mar(10px 0);
     		}
     	}
     }
	}
}
.copy{
	background:#3a4a5a;
	color: $white;
	font-size:12px;
	@include pad(10px 0);
	@media #{$mobile} {
		@include pad(10px);
	}
}  