nav{
&.top-nav{
	background: url(../img/top-nav.png) repeat-x;
	background-color: transparent !important;
	@include pad(5px 50px);
	@media #{$desktop}
	 {
	 	@include pad(5px 0px);
	 }
	@media #{$desktop-mini}
	 {
	 	@include pad(5px 0px);
	 }
	 @media #{$ipadpro}
	 {
	 	@include pad(5px 10px);
	 }
	 @media #{$ipad}
	 {
	 	@include pad(5px 10px);
	 	z-index: 99;
	 }
	 @media #{$mobile}
	 {
	 	@include pad(5px 10px);
	 	z-index: 99;
	 } 

	.navbar-brand{
		
			a{ float:left;
				h4{
		       font-family: $italic-font;
		       font-weight: normal;
		       font-size: $common-font-size;
		       color: $white;
		       display:inline-block;
		       @media #{$desktop-mini}{
				display:none;
		       }
		        @media #{$ipadpro}{
		        	display:none;
		        }
		        @media #{$mobile}
	 			{
	 				display:none;
	 			}
	         }
	      }
      
	 }

	%anchor{
		font-size: $common-font-size - 7px;
		text-transform: $text-case;
		color: $white;	 
		&:before{
		 	content:"|";
	 		color:$black;
	 		padding-right:5px
       }	
       @media #{$desktop-mini}{
       	font-size: 10px;
       }
	}
	
	 ul.navbar-nav{
	 	li.nav-item{
	 		a.nav-link{
	 			@extend %anchor;
	 			white-space: nowrap;
	 			 @media #{$ipadpro}{
	 			 	font-size:11px;
	 			 }
	 			 @media #{$ipad}{
	 			 	color:$primary;
	 			 	@include pad(10px);
	       		    &:before{content:"";}
	 			 }
	 		  }
	 			&.yellow{
	 			   a.nav-link{	 			   	
	 				color:#f4a23c;
	 				&:before{content:"";}	 				 
	 			   }
	 			}
	 			&.light_blue{
	 			 a.nav-link{	
	 				color:#abc1df;
	 				&:before{content:"";}	 				
	 			 }
	 			}
	 			&.light_green{
	 				a.nav-link{	
	 				color:#8ab44d;	
	 				&:before{content:"";} 				
	 			  }
	 			}
	 			&.yellow2{
	 				a.nav-link{	
	 				color:#cec44e;
	 				&:before{content:"";}	 				
	 			 }
	 	        }	    	 
		  }
	}

	 .view-only-tablet{
		display:inline-block;
		width: auto;
		@include set-mar(right,20px);

		a.dropdown-toggle{ 
			display:none;
			 @media #{$ipad}{
			 	display:block; 
			 	color:$white; 
			 	text-decoration:none;
			 	width:150px;
			 }
			 @media #{$mobile}{
				display:none;
	            }
		}
		ul.navbar-nav.dropdown-menu{
	       display:flex !important;
	       position: relative;
	       background:transparent;
	       border:none;
	       z-index:10;
	        @media #{$ipad}{
	        	display:none !important;
		        position: absolute;
		        background:$white;
		        box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px;
			     &.show{
		       	display:block !important;
		         }    
	        }
	        @media #{$mobile}{
				display:none !important;
	            }
        }
        @media #{$mobile}{
        	width:100%;
        }
        
    }

@mixin cf {
	&:before,
	&:after {
		content: '';
		display: table;
	}

	&:after {
		clear: both;
	}
}


.header {
	max-width: 720px;
	margin: 2em auto 10em;
}

.header-nav {
	@include cf;
	position: relative;
	padding-right: 3em;
}

.menu {
	display: inline-block;
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.search-button {
	position: absolute;
	right: -20px;
	top: 50%;
	transform: translate(0,-50%);
	@media #{$ipad}{
		right: -16px;
	}
	@media #{$mobile}{
		right: 15px;
		top:-22px;
	}
}

.search-toggle {
	position: relative;
	display: block;
	height: 12px;
	width: 12px;

	&::before,
	&::after {
		content: '';
		position: absolute;
		display: block;
		transition: all 0.1s;
	}

	&::before {
		border: 2px solid $white;
		border-radius: 50%;
		width: 100%;
		height: 100%;
		left: -2px;
		top: -2px;
	}

	&::after {
		height: 2px;
		width: 7px;
		background: $white;
		top: 10px;
		left: 8px;
		transform: rotate(45deg);
	}

	&.active {
		
		&::before{
			width: 0;
			border-width: 1px;
			border-radius: 0;
			transform: rotate(45deg);
			top: -1px;
			left: 4px;
		}

		&::after {
			width: 12px;
			left: -1px;
			top: 4px;
		}
	}
}

.search-input {

	&:focus {
		outline: none;
	}
}
	} 
}


#header-2 {
	//overflow: hidden;

	.menu {
		li {
			opacity: 1;
			transition: transform 0.3s, opacity 0.2s 0.1s;

			$time-offset: 0.2;
			@for $i from 1 through 5 {
				&:nth-child(#{$i}) {
					$time-offset: $time-offset + 0.1;
					transition-delay: #{$time-offset}s;
				}
				 @media #{$ipad}{
				 	display:block;
				 }
			}
		}
	}

	.search-box {
		position: absolute;
		left: 0;
		height: 100%;
		padding-left: 2em;
		transform: translateX(20%);
		opacity: 0;
		transition: all 0.4s 0.3s;
		 @media #{$ipad}{
		 	position: absolute;
			bottom: 0;
			width: 100%;
			height: 100%;
			max-height: 0;
			transform: translateY(100%);
			background-color: #0063ae;
			transition: all 0.3s;
			/* border:1px solid $white; */
		 }
		 @media #{$mobile}{
			height:50px;
			background: #0063ae;
			@include pad(0 1.5em);			
			color: $white;
			z-index:99;
			left: auto;
			width: 75%;
    		bottom: -30px;
		 }

		.search-input {
			border: 0;
			width: 100%;
			height: 100%;
			background-color: transparent;
			 @include placeholder { color: #abc1df !important; }
			 color:$white;
			  @media #{$ipad}{
			  	width: 100%;
				height: 100%;
				padding: 0;
				border: 0;
				background-color: transparent;
				opacity: 1;
	            color: $white;

				&::-webkit-input-placeholder {
					color: rgba($white, 0.4);
				}
			  }
		}

		.search-toggle {
			width: 14px;
			height: 14px;
			padding: 0;
			position: absolute;
			left: 5px;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&.show {

		.menu {

			li {
				transform: scale(0.8);
				opacity: 0;
			}
		}
		.search-box {
			width: calc(100% - 5em);
			transform: translateX(0);
			opacity: 1;
			z-index:11;

			 @media #{$ipad}{
			 	max-height: 40px;
			 	width:100%;
			 	padding-left:5px;
			 	font-size:12px;
			 } 
			  @media #{$mobile}{
			  	width:80%;
			  	height:50px;
			  	bottom:0px;
			  }
		}


	}
}	

	 .indexcity {
  z-index: 9999;
}

.primary-menu{
		background:$white;
		@include pad(15px 50px);
	@media #{$desktop}
	 {
	 	@include pad(5px 0px);
	 	@include set-mar(bottom,15px);
	 }
	@media #{$desktop-mini}
	 {
	 	@include pad(15px 0px 5px 0);
	 	@include set-mar(bottom,15px);
	 }
	 @media #{$ipadpro}{
	 	@include pad(15px 10px);
	 }

	 @media #{$ipad}
	 {
	 	@include pad(5px 10px);
	 }
	 @media #{$mobile}
	 {
	 	@include pad(0px 5px);
	 }

a.project_logo {
          padding: 0;
          max-width: 250px;
          position: absolute;
          //top: 25px;

          @media #{$mobile} {
                  padding: 5px;
                  position: static;
                  max-width: 200px;
          }

          @media #{$ipad} {
                  padding: 5px;
                  position: static;
          }
          
    } 

.navbar-toggler{
	z-index:11;
	background: #0063ae;
	border-radius:5px;
	color:$white;
	@include pad(10px);
}
.navbar-collapse.show {
    right: 0 !important;
    z-index:10;
}

ul.navbar-nav{
	li.nav-item{
		position:relative;
		transition-duration: 0.5s;
			&:hover, a.nav-link:hover{
					.dropdown-menu{
						display: block;
						margin:0;						
					} 
				}
		a.nav-link{
			color:#494949;
			font-family: $common-font-family;
			font-weight: 300;
			text-transform: $text-case;
				&:before{
					content:"|";
					color:#f4a23c;
					font-weight: normal;
					margin-right: 10px;
				}	
				&:hover{
					color:#f4a23c;					
					@include trans;
				}
				
				&:after {
					    display: none;
					}

					i{
						color: $green;
					}
					@media #{$desktop-mini} {
						font-size:14px;
						&:before{
							margin-right: 8px;
						}
					}
					@media #{$ipadpro}{
						font-size:14px;
						&:before{
							margin-right: 8px;
						}
					}
					@media #{$ipad} {
						font-size:14px;
						&:before{
							margin-right: 8px;
						}
					}	
				 @media #{$mobile} {
					font-weight: 400;
					font-size:14px;
					&:before{
					content:"";
				    }
				 }		
		}
		&:nth-child(2){
			a.nav-link{
				&:before{
				content:"";
			  }
			}
		 }
	}

}

.view-only-mobile{
	display:none;
	 @media #{$mobile}{
	 	display:block;  
	 	//background: #e3f2fd;    	 	
	 }
	 .dropdown-menu{
	 	background: transparent;
	 	border:none;
	 	border-bottom: 1px solid rgba(0,0,0,.15);
         .nav-link{
         	@include pad(.25rem 0.5rem);
         }


	 }
}

.dropdown-menu{
	font-family: $common-font-family;
	text-transform: $text-case;
	font-size:14px;	
	@include set-pad(top,0);	
	@extend %blue-border-box;
	border:solid 3px #6b95cf !important;
	&.one {
		border:none;
	}

	 @media #{$ipad}{
	background: transparent;
	border:none;
	border-bottom: 1px solid rgba(0,0,0,.15);
   }
	 @media #{$mobile}{
	background: transparent;
	border:none;
	border-bottom: 1px solid rgba(0,0,0,.15);
   }
   .dropdown-item{
   	    white-space: normal;
   	    font-size:16px;
   	&:hover{
   	color:#f4a23c;
   	background:transparent;
   }
  }
}


@media only screen and (max-width: 991px) {
	.navbar-collapse{
      background-color:#ffc107;
      position: fixed;
      top: 11%;
      transition:all 0.4s ease-out;
      height: 100% !important;
      width: 50%;
      right: -500px;
      @include set-pad(top,20px);
          }
    .navbar-inverse .navbar-nav>li>a {
    color: #000;
    }
}

 @media #{$mobile}{
 	.navbar-collapse{
 		 width: 80%;
 	}
 }

/* Icon 1 */

.animated-icon2 {
width: 30px;
height: 20px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

.animated-icon2 span{
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

.animated-icon2 span {
background: #e3f2fd;
}


/* Icon 3*/

.animated-icon2 span:nth-child(1) {
top: 0px;
}

.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
top: 10px;
}

.animated-icon2 span:nth-child(4) {
top: 20px;
}

.animated-icon2.open span:nth-child(1) {
top: 11px;
width: 0%;
left: 50%;
}

.animated-icon2.open span:nth-child(2) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
top: 11px;
width: 0%;
left: 50%;
}



}


	