.yellowborderbox{
	@extend %yellow-border-box;
	@include set-pad(top,2px);
	.titlepart{
		text-align:center;	
		background: #cec44e;	
		@include pad(10px);
		border-top-left-radius:5px;
		border-top-right-radius:5px;
		@include set-mar(left,-3px);
		h2{
			@extend %headingfont;
			font-weight: 900;
			font-size:$common-font-size + 5px;
			color: #fff;
			letter-spacing: 1px;
			@include set-mar(bottom,0);
		}
	}

.tab {
 
}

.tabContent > div { display: none; }
.tabItem{
	@include pad(20px);
	a{
		@include mar(0 20px);
		@extend %headingfont;
		font-weight:900;
		color: #0063ae;
		text-decoration: none;
		font-size: $common-font-size - 4px;
		&:hover{
			color: #cec44e;
			@include trans;
		}
		@media #{$desktop-mini} {
		 	@include mar(0);
		}
		@media #{$ipadpro} {
		 	@include mar(0);
		}
		@media #{$ipad} {
		 	@include mar(0);
		}
		@media #{$mobile} {
		 	@include mar(0);
		}

		i {
		    color: #cec44e;
		    font-size: 18px;
		    position: absolute;
		    left: 40px;
		    line-height: 1.3;
		    @media #{$desktop-mini} {
		    	left: 25px;
		    }
		    @media #{$ipadpro} {
		    	left: 25px;
		    }
		    @media #{$ipad} {
		    	left: 25px;
		    }
		    @media #{$mobile} {
		    	left: 20px;
		    }
		}
	}
	p.shortdetails{
		@include mar(5px 20px 30px 20px);
		@media #{$desktop-mini} {
		 	@include mar(0);
			@include set-mar(bottom,15px);
		 }
		@media #{$ipadpro} {
		 	@include mar(0);
			@include set-mar(bottom,15px);
		}
		@media #{$ipad} {
		 	@include mar(0);
			@include set-mar(bottom,15px);
		 }
		@media #{$mobile} {
		 	@include mar(0);
		 	@include set-mar(bottom,15px);
		 }
	}
	hr{
		display: block;
    	border-style: inset;
    	border-width: 1px;
   	 	width:100%;
    	border:1px solid #93b25b;  
    	@include mar(0px 0 20px 0);
	}
}

.tabHeader {
  height: 50px;  
  @media #{$mobile} {
  	 height: 100px; 
  }
  ul{
  	@media #{$ipadpro} {
  		@include set-pad(left,0);
  	}
  	@media #{$ipad} {
  		@include set-pad(left,0);
  	}
  	@media #{$mobile} {
  		@include set-pad(left,0);
  		@include set-pad(top,10px);
  	}
  }
}

.tabHeader ul li {  
  text-align: center;
  cursor: pointer;
  @extend %headingfont;
  font-weight:400;
  font-size: $common-font-size - 4px;
  color: #abc1df;
  line-height: 5;
  display:inline-block;
  @include pad(0 25px);
  			@media #{$desktop-new} {
			   	line-height: 4.5;
			   	@include set-pad(left,5px);
			   	@include pad(0 8px);
			   	font-size: $common-font-size - 6px;
			 }
  			@media #{$desktop} {
			   	line-height: 4.5;
			   	@include set-pad(left,5px);
			   	@include pad(0 8px);
			   	font-size: $common-font-size - 6px;
			 }
  			@media #{$desktop-mini} {
			   	line-height: 4.5;
			   	@include set-pad(left,5px);
			   	@include pad(0 8px);
			   	font-size: $common-font-size - 6px;
			 }
  			@media #{$ipadpro} {
			   	line-height: 4.5;
			   	@include set-pad(left,5px);
			   	@include pad(0 8px);
			   	font-size: $common-font-size - 8px;
			 }
 		 @media #{$ipad} {
		   	line-height: 4;
		   	@include set-pad(left,8px);
		   	@include pad(0 8px);
		   	 font-size: $common-font-size - 6px;
		   }
		   @media #{$mobile} {
		   	line-height: 1.5;
		   	@include pad(0 10px);
		   }
	  &:after{
	  	content:"|";
	  	color:#cec44e;
		position:absolute;
		right:0px;
		@include set-mar(left,10px);
	  }
	  &:last-child{
	  	 &:after{
	  	 	content:"";
	    }
	  }
}

.tabHeader ul li.active { 
	color: #cec44e;
	&:before{
		content:"";
		opacity: 1;
		display:block;
		border-left: 20px solid transparent;
	  	border-right: 20px solid transparent; 
	  	border-top: 20px solid #cec44e;
	  	pointer-events: none;
	  	width:20px;
	  	margin: 0 auto;
	  	position:absolute;
	  	left: 0;
	  	right: 0;
	  	@media #{$desktop-mini}{
		  	border-left: 15px solid transparent;
		  	border-right: 15px solid transparent; 
		  	border-top: 15px solid #cec44e;
		  	top: -1px;
		  	width:15px;
	  	}
	  	@media #{$ipadpro}{
		  	border-left: 15px solid transparent;
		  	border-right: 15px solid transparent; 
		  	border-top: 15px solid #cec44e;
		  	top: -1px;
		  	width:15px;
	  	}
	  	@media #{$ipad}{
		  	border-left: 15px solid transparent;
		  	border-right: 15px solid transparent; 
		  	border-top: 15px solid #cec44e;
		  	top: -1px;
		  	width:15px;
	  	}
	  	@media #{$mobile}{
			display:none;
			@include trans;
		}	
	}
}

.tabContent .active { display: block; }

.directorypart{
	@extend %headingfont;
	@include mar(0 2%);
	@include set-mar(bottom,20px);
	label{
		color:#0063ae;
		font-weight:800;
		font-size: $common-font-size - 4px;
		@include set-mar(bottom,0px);
		@include set-mar(top,20px);		
	}
	p{
		color: $black;
		font-weight:600;
		font-size: $common-font-size - 6px;
		@include set-mar(bottom,0);
	}
}
}

.gmap{
	min-height: 700px;
	@include set-mar(top,50px);
	.ribbonpart{
		@extend %ribbon;
	}
}