.blue-section{
  h2{
    @extend %italicfont;
    font-size: 32px;
    @include mar(65px 0);
  }
}
.schools-accordion {
  .card-header {
    @include set-mar(bottom,0px);
  }
  .card .card-body {
    background-color: #ebebeb;
    .card-body-panel{
      @include pad(40px);
      h4{
        @extend %headingfont;
        font-weight: 900;
        @include set-mar(bottom,15px);
      }
      a.btn{
        @include button;
    		@include trans;
        @include pad(7px 12px);
        font-size: $common-font-size - 8px;
      }
    }
  }
}
.school-info-block{
  border-bottom:1px solid #e5942f;
    @include pad(15px 0);
    .school-name{
      color:#0063ae;
      text-transform:uppercase;
      @extend %headingfont;
      font-weight: 900;
    }
    p.address{
      @include mar(0px);
      color:$black;
      @include set-mar(top,0);
    }
    .btn-block{
      text-align: left;
      @include set-mar(top, 10px);

    }
}
.map-section{
  .inner-container{
    max-width:60%;
     @media #{$mobile} {
      max-width:90%;
     }
  }
  h2{
    font-weight:900;
    color: #abc1df;
    font-size: $common-font-size;
  }
  a.btn{
    @include button;
    @include trans;
    @include pad(7px 25px);
    font-size: $common-font-size - 8px;
    background-color: #aec3e0;
    border-color:#aec3e0;
    @include set-mar(bottom,15px);
      &:hover{
        color: #002e59;
        border-color:#002e59;
      }
      &:focus{
        color: #002e59;
        border-color:#002e59;
      }
  }
  h4{
    @extend %headingfont;
    color: #f4a23c;
    font-weight:900;
    letter-spacing:1px;
  }
}


.did-you-konw-section{
  @include set-mar(top, 40px);
  @include set-mar(bottom, 40px);
  @media #{$mobile} {
     @include set-mar(top, 0px);
  }
  .image-thum-block{
    @extend %image-thum-block;
     height: 300px; 
  }
  h2.no-background{
    span{
      &:after{
        border-top:2px solid #e69938;
      }
    }
  }
  h3{
    @extend %italicfont;
    font-size:25px;
    color: #abc1df;
  }
  span{
    @include set-pad(left, 0px);

  }
  a.btn{
    @include button;
    @include trans;
    @include pad(7px 25px);    
  }
}


.page-template-school, .page-template-school-detail, .page-template-contact-directory{
  .parallaxpart{
    min-height:325px;
  }  
}

.page-template-school-detail{
  #wrapper-footer{
    margin-top: -30px;
  }
  .parallaxpart{
    @include set-mar(top,100px);
    &.threebox{
      text-align:center;
      .greenbox{
        @include mar(5%);
        min-height: 208px;
        position:relative;
          @media #{$mobile} {
            min-height: 208px;
          }
      }
  }
}
}

.overalappart{
  text-align:center;
  a.btn{
      @include button;      
    }
  .paragraphpart{
    @include set-mar(top,15px);
    h3{
      @include set-mar(bottom,0px);
    }

  }
}
