// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

// Color palette
//-----------------------------
$primary: #002e59;
$secondary: #e5942f;
$white: #ffffff;
$black: #000000;
$green: #5aa333;

$page-container: 1170px;
$common-font-family:'Montserrat';
$italic-font: 'Wisdom Script Regular';
$common-font-size: 20px;
$text-case: uppercase;
$btn-border-radius: 25px;
$btn_bg:#93b25b;
$btn_color:#ffffff;

// Responsive if require custom
// -----------------------------
$mobile: "(max-width: 767px)";
$ipad: "(min-width: 768px) and (max-width: 1023px)";
$ipadpro: "(min-width: 1024px) and (max-width: 1279px)";
$desktop-mini: "(min-width: 1280px) and (max-width: 1365px)";
$desktop:"(min-width: 1366px) and (max-width: 1440px)";
$desktop-new: "(min-width: 1441px) and (max-width: 1680px)";
$desktop-large: "(min-width: 1681px)";

// common transition
//-----------------------------
@mixin trans{
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

@mixin pad ($pads...) {  padding: $pads;}
@mixin mar ($mar...) {  margin: $mar ;}

$properties_mar: (margin);
$properties_pad: (padding);

@mixin set-mar($side, $value) {
    @each $prop in $properties_mar {
        #{$prop}-#{$side}: $value !important;
    }
}

@mixin set-pad($side, $value) {
    @each $prop in $properties_pad {
        #{$prop}-#{$side}: $value !important;
    }
}

@mixin border-radius($radius) {
-webkit-border-radius: $radius;
-moz-border-radius: $radius;
-ms-border-radius: $radius;
-o-border-radius: $radius;
border-radius: $radius;
}

@mixin button {
  background: $btn-bg;
  color: $btn_color;
  border:1px solid $btn-bg;
  @include border-radius($btn-border-radius);
  text-transform: $text-case;
  font-size: $common-font-size - 8px;
  font-family: $common-font-family;
  font-weight:800;
  @include pad(10px 25px);
  line-height:1.5;
  letter-spacing:1px;

  &:hover {
    color: $btn-bg;
    background: $white;
    border:1px solid $btn-bg;
  }
  &:active {
     color: $btn-bg;
    background: $white;
    border:1px solid $btn-bg;
  }
  &:focus{
  	color: $btn-bg;
    background: $white;
    border:1px solid $btn-bg;
  }
}

@mixin smallbutton {
  background: #ebebeb;
  color: #0d3361;
  border:none;
  border-radius:20px;
  text-transform: $text-case;
  font-size: $common-font-size - 8px;
  font-family: $common-font-family;
  font-weight:900;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  @include pad(10px 30px);
  line-height:1.5;
  letter-spacing:1px;

  &:hover {
    color: #0d3361;
    background: #ebebeb;
    text-decoration:none;
    box-shadow:none;
  }
  &:active {
     color: #0d3361;
    background: #ebebeb;
    text-decoration:none;
  }
  &:focus{
    color: #0d3361;
    background: #ebebeb;
    text-decoration:none;
  }
}

%italicfont{
  font-family:$italic-font;
  font-size:$common-font-size;
  text-transform: capitalize;
  font-weight:normal;
}

%headingfont{
  font-family: $common-font-family;
  font-size:$common-font-size;
  text-transform: $text-case;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

%linkeffect{
      position: relative;
      text-decoration:none;
    &:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -4px;
      left: 0;
      background-color: #0063ae;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all .3s ease-in-out 0s;
      transition: all .3s ease-in-out 0s;
    }
   &:hover:before {
         visibility: visible;
         -webkit-transform: scaleX(1);
         transform: scaleX(1);
       }
}

%ribbon{
      background:#adc1e5;
      @include pad(10px 50px);
      display: inline-block;
      color:$white;
      @extend %headingfont;
      font-weight:900;
      font-size: $common-font-size;
      position:relative;
      @media #{$ipadpro} {
          font-size: $common-font-size - 4px;
      }
      @media #{$mobile} {
          @include pad(13px 30px);
          font-size: $common-font-size - 4px;
      }
      &:before{
         content:"";
         background-image:url(../img/ribbon-left.png);
         display: block;
         position: absolute;
         top: -29px;
         left: -39px;
         height:79px;
         width:88px;
         z-index:0;
      }
      &:after{
         content:"";
         background-image:url(../img/ribbon-right.png);
         display: block;
         position: absolute;
         top: -21px;
         right: -39px;
         height:71px;
         width:87px;
         z-index:0;
      }
}

%sidebar-blue-section{
    text-align:left;  
    @include pad(0 70px);
    @media #{$desktop}{
      @include pad(0 30px);
    }
    @media #{$desktop-mini}{
      @include pad(0 30px);
    }
    @media #{$ipadpro}{
      @include pad(0 30px);
    }
    @media #{$ipad}{
      @include set-mar(top,60px);
    }
    @media #{$mobile}{
      @include pad(0 20px);
      @include set-mar(top,60px);
    }
    .blue-border-box{
      @extend %blue-border-box;
      @include set-pad(bottom,20px);
    }
    .ribbonpart{
      margin-top: -25px;
      text-align:center;
        label{
          @extend %ribbon;    
            z-index: 9;     
            @include pad(14px 50px);
            @media #{$mobile}{
              @include pad(14px 10px);
            }
        }
          }
      
      label{
        text-align:left;
        color: $primary;
        font-size: $common-font-size;
        @include pad(0 20px);
        @extend %italicfont;
      }
      
      p{
        @extend %headingfont;
        font-weight:500;
        font-size: $common-font-size - 4px;
        @include pad(0 20px);
        color: $black;
      }
      .dispatch{
        @include mar(10px 7px);
      }

      .view{
        @include pad(0 20px);
        display:block;
        text-align:right;
        color: $black;
        a{
          line-height: 2;         
          @extend %linkeffect;
          text-transform:uppercase;
          text-align:right;
          color: $black;
        }
        
          .contact{
            a{
              strong{
                @include mar(0 10px);
                color: $black;
                @media #{$desktop-mini} {
                  @include mar(0 8px);
                }
              }
                &:after{
                content:"|";
                @include mar(0 6px);
              }
              &:last-child{
                &:after{              
                  content:""; 
                }               
               }
          }
                    
        }
      }
      hr {
          display: block;
          border-style: inset;
          border-width: 1px;
          width: 90%;
          border: 1px solid #f4a23c;
      }
  }
%blue-border-box{
    width:100%;
    margin:0 auto;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    line-height:1.5em;
    background:#d6e1f2;
    min-width:225px;
     @media #{$mobile}{
      @include set-mar(top,0px);
     }
  &.one {
    border:solid 3px #6b95cf;
     @media #{$mobile}{
      border:none;
     }
  }
}

%dark-blue-border-box{
    @extend %blue-border-box;
    border-radius: 255px 0px 225px 0px/15px 225px 15px 255px;       
}

%yellow-border-box{
    width:100%;
    margin:0 auto;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    line-height:1.5em;
    background:#fbfaf1;
    min-width:225px;
     @media #{$mobile}{
      @include set-mar(top,0px);
     }
  &.one {
    border:solid 3px #cec44e;
    border-top:none;
     @media #{$mobile}{
      border:none;
     }
  }
}

%borderaftertext{
          color:$white;
          display:inline-block;
          width: calc(100% - 150px);
          @include set-mar(bottom,0px);
          font-size:$common-font-size;
          @media #{$ipad} {
            width: 100%;           
          }
           @media #{$mobile}{
            width: 100%;
           }
          span{
            @include pad(0 40px 0 20px);           
               @media #{$mobile}{
                @include pad(0 20px 0 0px);
               }
             &:after {
            border-top: 2px solid #bfbbb7;
            top:50%;
            @media #{$mobile}{
              display:none;
            }
             }
          }
        }

%yellowpart{
      content:"";
      width:100%;
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;   
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      background-position: 30% 0;
    }

%image-thum-block{
  position: relative;
  min-height: 280px;
  @include set-mar(top,0px);
  @include set-mar(bottom, 20px);
  .primary-image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top:-75px;
    @media #{$desktop-mini} {
      top:-26px;
    }
    @media #{$ipadpro} {
      top:-43px;
    }
    @media #{$ipad} {
      width: 200px;
      height: 200px;
      top:15px;
    }
    @media #{$mobile} {
      width: 200px;
      height: 200px;
      top:0px;
    }
  }
  .secondary-image{
    position: absolute;
    width: 300px;
    height:300px;
    left: 9px;
    top: -10px;
    border: 8px solid #ffffff;
    border-radius: 50%;
    @media #{$desktop-mini} {
       width: 280px;
       height:280px;
       left: -33px;
       border: 10px solid $primary;
       top: 65px;
     }
    @media #{$ipadpro} {
       width: 280px;
       height:280px;
       left: -40px;
       border: 10px solid $primary;
       top: 65px;
     }
    @media #{$ipad} {
       width: 220px;
       height:220px;
       left: -5px;
       border: 10px solid $primary;
       top: 95px;
     }
     @media #{$mobile} {
       width: 220px;
       height:220px;
       left: -5px;
       border: 10px solid $primary;
       top: 65px;
     }
  }
}
