.page-template-joinourteam{
	.selectionpart .links>.line{
		    margin: 0 12%
	}
}

	ul.linkpart{
		list-style: none;
		@include pad(0);
		@include mar(0);
		@include set-pad(left,0);
		li{		
	    margin-bottom: 5px!important;
	    border: none;
	    background-color: rgba(0,0,0,.03);
	    @include trans;
	    display:block;	 
	    @include set-pad(left,0);
		    @media #{$mobile}{

		    }  
		    &:before{
		    	content: "";
		    	background-image: url(../img/link-arrow.png);
				display: block;
				position: absolute;
				width: 33px;
				height: 80px;
				background-repeat:no-repeat;
				@media #{$mobile}{
		    		background-image:none;
		    	}
		    }
		    
			a{
				color: $black;
			    font-weight: 700;
			    font-size: 20px;
				display:block;
				@include pad(25px 50px);
				text-transform:uppercase;
					@media #{$mobile}{
						@include pad(19px 10px);
						font-size: 17px;
					}
				 @extend %linkeffect;
				 &:before{
				 	 background-color: #e5942f;
				 }
				&:hover{
					color:#e5942f;
					text-decoration: none;
				} 
				span.link-arrow{					
			    	background-image: url(../img/link-arrow-green.png);
					width: 16px;
					height: 24px;
					background-repeat:no-repeat;
					float:right;
					display:inline-block;
				}
			} 
		}
	}


.news_content{
	.newspart{
		.spacer{
			@media #{$ipadpro}{
					@include set-mar(bottom,0px);
				}
			}
		p.sortcontent{
			@media #{$ipadpro}{
				font-size: $common-font-size - 6px;
			}
		}	
		.enlink{
			@media #{$ipadpro}{
				font-size: $common-font-size - 6px;
			}
		 }	
		}
	ul{
		list-style: none;
		@include pad(0);
		@include set-pad(left,20px);
		@include mar(0);
			
		li{
			display:block;	
			position:relative;			
			@include set-pad(left,20px);
			
			a.f_links{
				text-transform:capitalize;
				color: $black;
				@extend %headingfont;
				font-size:16px;
				font-weight:500;
				text-decoration: none;
				&:hover{
					color: $green;
					text-decoration: none;
				}
				i{
					color: $green;
					position:absolute;	   
					left:0;  
					line-height:1.5;				
				}
			}
		}
	}
	label{
		@extend %italicfont;
		font-size: $common-font-size + 5px;
		color: #abc1df;
	}
	ul#myTab{
		border:none;
		@include set-mar(bottom,20px);
		.nav-item{
			@include set-pad(left,0);
				
				&:last-child {
					.nav-link {
						 &:after{
							content:"";
						}
					}
				}
			.nav-link{
				background: transparent;
				border:none;
				color: #002e59;
				@include pad(10px 0);
				&.active{
					font-weight:900;
					font-style:italic;
				}				
				&:after{
					content:"|";
					color: #cec44e;
					@include mar(0 20px);
					font-style:normal;
					font-weight:400;	
					@media #{$mobile} {
						@include mar(0 10px);	
					}				
				}
					
				}

			}

		}
		.tab-content{
			hr {
		        display: block;
		        @include mar(2em 0 2em 0);
		        border-style: inset;
		        border-width: 1px;
		        width:100%;
		        border:1px solid #abc1df;
		      }
		  }
      ul.pagination{
		@include set-pad(left,0);
		li.page-item{
			@include set-pad(left,0);
			@include set-pad(right,5px);
			&.active{
				a.page-link{
					color: $primary;					
				}
			}
			a.page-link{
				border:none;
				background:transparent;		
				font-weight:900;
				color: #abc1df;		
				i{
					color: $green;
				}
			}
		}
      }	

    .sidebar-blue-section{
		@extend %sidebar-blue-section;
	}

	.eventpart{
		@include set-mar(top,25px);
		label{
			color:#abc1df;
			font-size: $common-font-size + 5px;
		}
		.spacer{
			@include set-mar(bottom,25px);

		}
	} 

	a.btn{
		@include button;
	}
}

.join-our-team{
	.ribbontitle{
	   @include set-mar(top,60px);
	   
	   label{
	      @extend %ribbon;
	      @include set-mar(bottom,30px);
	   }
	}

	.sidebar-blue-section{	
		@include pad(0 70px);
		text-align:center;
		@media #{$desktop}{
			@include pad(0 30px);
		}
		@media #{$desktop-mini}{
			@include pad(0 30px);
		}
		@media #{$ipadpro}{
			@include pad(0 30px);
		}
		@media #{$ipad}{
			@include set-mar(top,60px);
		}
		@media #{$mobile}{
			@include pad(0 20px);
			@include set-mar(top,60px);
		}

		.blue-border-box{
				@extend %blue-border-box;
				@include set-pad(bottom,20px);
				.ribbonpart{
					margin-top: -25px;
					text-align:center;
						label{
							@extend %ribbon;		
						    z-index: 9;	    
						    @include pad(14px 50px);
						    @media #{$mobile}{
						    	@include pad(14px 10px);
						    }
						}
			        }
				h2{
			    	@extend %headingfont;
			    	font-weight:500;
			    }
		    }
		    h3{
		    	text-align:center; 
				color: #abc1df;
				font-size: $common-font-size;
				@include pad(0 20px);
				@extend %italicfont; 
		    }  		
		}
	       .iconpart{
	    	width:83px;
	    	height:83px;
	    	border-radius:50%;
	    	border:1px solid $black;
	    	display:block;
	    	background:transparent;
	    	margin: 50px auto 20px auto;
	    	@include pad(14px 0);
	    }
	    .counterpart{
	    	@extend %headingfont;
	    	font-weight:800;
	    	@include set-mar(top,20px);
	    	@include set-mar(bottom,40px);
	    	font-size: $common-font-size;  
	    	color: #2c76b7;  	
	    	.count{
	    		display:inline-block;
	    	}
	    	.extention{
	           @extend %headingfont;
	           font-weight:900;
	           line-height: 1;
	           display:inline-block;
	           @media #{$desktop} {
	                font-size:35px;
	               }
	           @media #{$desktop-mini} {
	             font-size:30px;
	            }
	           @media #{$ipadpro} {
	             font-size:30px;
	            }
	       }
	       label{
	       	color: #2c76b7;  
	       	margin: 0 auto;
	       	width:200px;
	       	line-height:1.5;
	       	display:block;	
	       	@extend %italicfont;   
	       	text-align:center;    	
	       }	      
	    } 

	&.communicationpart{
		@include set-pad(top,0);
	}
}

.fancy-gallery-part{
	max-height: 740px;
	overflow:hidden;
	@include pad(0 0 25px 0);	
	@media #{$mobile}{
	 	@include pad(0px 10px);
	 	max-height: 320px;
	}
	.gallery{
	    display: inline-block;
	    margin-bottom: 50px;  
	    @include set-mar(top,0);
	    @media #{$ipadpro}{
	    	margin-bottom: 30px;  
	    }
	    @media #{$ipad}{
	    	margin-bottom: 25px;  
	    }
	}
}

.short-contentpart{
	@include mar(50px 0);
}
.visitlink-sec{
	.visitlinkdiv{
		margin-bottom: 60px; 
		svg{
			width: 70px;
			height: 70px;
			margin-bottom: 5px; 
			path{
				fill:  $primary;
			}
		} 
		h3{
	    	@extend %headingfont;
	    	line-height: 1.5;
	    	font-weight:900;
	    	color: #f4a23c;
	    	@include set-mar(bottom,0);	    	
	    }
	    p{	    	 
		    color: $black;  	    
	    }
	    a.btn{
	    	@include button;
			@include mar(5px 0);
	    }    
	}
}
.featuredbox-sec{
	min-height: auto;
	img{ 
		margin-top: 30px;
	}
	h2{
		color: #0063ae;
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 900;
		margin-top: 15px;
	}
	p{

	}
}
